In [2]:
#Importing required Modules
import pandas as pd
import requests
from bs4 import BeautifulSoup
import wbdata

In [2]:
#This the link for climate change index - this is one of the predictor variables of the model
url_ci="https://en.wikipedia.org/wiki/Climate_Change_Performance_Index"

In [3]:
page_ci = requests.get(url_ci)   #Download the web-page
page_ci.status_code              #Check status of download

200

In [4]:
soup_ci = BeautifulSoup(page_ci.content, 'html.parser')  #Parsing

#Obtaining tables
i = soup_ci.findAll('table', {'class':"wikitable"})
print(len(i))

4

In [5]:
#The required table is the last one - so its index is 3 
table_temp = i[3]

#Now, we are reading in the table, and converting it to dataframe
df_temp = pd.read_html(str(table_temp))
df = pd.DataFrame(df_temp[0])
display(df)

    Rank              Country  Score
0      1                    -      -
1      2                    -      -
2      3                    -      -
3      4               Sweden     76
4      5              Morocco  70.48
5      6            Lithuania  70.47
6      7               Latvia  68.31
7      8       United Kingdom  65.92
8      9          Switzerland  65.42
9     10                Malta  65.06
10    11                India  62.93
11    12               Norway  62.80
12    13              Finland  62.61
13    14              Croatia  62.39
14    15              Denmark  61.96
15    16  European Union (28)  60.65
16    17             Portugal  60.54
17    18              Ukraine  60.09
18    19           Luxembourg  59.92
19    20              Romania  59.42
20    21               France  59.30
21    22               Brazil  59.29
22    23                Italy  58.69
23    24                Egypt  57.49
24    25               Mexico  56.82
25    26      Slovak Republic  56.61
26    27              Germany  55.18
27    28          Netherlands  54.11
28    29              Belarus  53.31
29    30               Greece  50.86
30    31              Belgium  50.63
31    32       Czech Republic  49.73
32    33                China  49.60
33    34            Argentina  49.01
34    35                Spain  48.97
35    36              Austria  48.78
36    37             Thailand  48.71
37    38            Indonesia  48.68
38    39         South Africa  48.25
39    40             Bulgaria  48.11
40    41               Poland  47.59
41    42              Hungary  46.79
42    43             Slovenia  44.90
43    44          New Zealand  44.61
44    45              Estonia  44.37
45    46               Cyprus  44.34
46    47              Algeria  42.10
47    48              Ireland  40.84
48    49                Japan  40.63
49    50               Turkey  40.22
50    51             Malaysia  38.08
51    52               Russia  37.59
52    53           Kazakhstan  36.47
53    54               Canada  34.26
54    55            Australia  31.27
55    56       Chinese Taipei  28.80
56    57                Korea  28.53
57    58                 Iran  23.94
58    59        United States  18.82
59    60         Saudi Arabia   8.82

In [1]:
#This is the link for the poverty index - another predictor variable
url_poverty = "https://en.wikipedia.org/wiki/List_of_countries_by_percentage_of_population_living_in_poverty"

In [4]:
page_poverty = requests.get(url_poverty)  #Download the page
page_poverty.status_code                  #Check status

200

In [5]:
soup_poverty = BeautifulSoup(page_poverty.content, 'html.parser') #Parsing

In [6]:
#Obtaining tables
j = soup_poverty.findAll('table', {'class':"wikitable"})
print(len(j))

2

In [7]:
#The required table is the first one - so its index is 1
table2 = j[1]

#Now we are reading the dataframe, and converting it to a dataframe
df_temp2 = pd.read_html(str(table2))
df2 = pd.DataFrame(df_temp2[0])
display(df2)

,Country,WorldBank[16],Year,CIA[17],Year.1,Other,Year.2,Continent
0,Afghanistan,54.5%,2016.0,54.5%,2017.0,NaN,NaN,Asia
1,Albania,14.3%,2012.0,14.3%,2012.0,NaN,NaN,Europe
2,Algeria,5.5%,2011.0,5.5%,2011.0,NaN,NaN,Africa
3,Angola,32.3%,2018.0,32.3%,2018.0,NaN,NaN,Africa
4,Anguilla,NaN,NaN,23.0%,2002.0,NaN,NaN,North America
...,...,...,...,...,...,...,...,...
178,"Virgin Islands, U.S.",NaN,NaN,28.9%,2002.0,NaN,NaN,North America
179,West Bank,NaN,NaN,18.0%,2011.0,NaN,NaN,Asia
180,Yemen,48.6%,2014.0,48.6%,2014.0,NaN,NaN,Asia
181,Zambia,54.4%,2015.0,54.4%,2015.0,NaN,NaN,Africa
182,Zimbabwe,38.3%,2019.0,38.3%,2019.0,NaN,NaN,Africa

In [8]:
#This is the link for home ownership rate - another predictor variable
url_home = "https://tradingeconomics.com/country-list/home-ownership-rate"

In [9]:
page_home = requests.get(url_home)  #Download the page
page_home.status_code               #Check the status

200

In [10]:
soup_home = BeautifulSoup(page_home.content, 'html.parser') #Parsing

In [11]:
#Reading in the table
k = pd.read_html(url_home)
df_temp3=pd.concat(k)
display(df_temp3)

           Country   Last  Previous Reference Unit
0        Australia  66.20      67.5    Dec/18    %
1          Austria  55.20      55.4    Dec/19    %
2          Belgium  71.30      72.3    Dec/19    %
3         Bulgaria  84.30      84.1    Dec/20    %
4           Canada  68.55      66.3    Dec/18    %
5          Croatia  89.70      90.1    Dec/19    %
6           Cyprus  67.90      70.1    Dec/19    %
7   Czech Republic  78.60      78.7    Dec/19    %
8          Denmark  60.80      60.5    Dec/19    %
9          Estonia  81.70      82.4    Dec/19    %
10       Euro Area  65.80      66.2    Dec/19    %
11  European Union  69.80      69.9    Dec/19    %
12         Finland  70.70      71.1    Dec/20    %
13          France  64.00      64.1    Dec/20    %
14         Germany  50.40      51.1    Dec/20    %
15          Greece  74.60      75.4    Dec/20    %
16       Hong Kong  49.80      49.2    Dec/19    %
17         Hungary  91.70      86.0    Dec/19    %
18         Iceland  73.60      74.1    Dec/18    %
19         Ireland  68.70      70.3    Dec/19    %
20          Israel  66.50      66.5    Dec/18    %
21           Italy  72.40      72.4    Dec/19    %
22           Japan  61.20      61.7    Dec/18    %
23          Kosovo  97.80      97.8    Dec/18    %
24          Latvia  80.20      81.6    Dec/19    %
25       Lithuania  90.30      89.9    Dec/19    %
26      Luxembourg  70.90      71.2    Dec/19    %
27       Macedonia  85.90      88.3    Dec/19    %
28           Malta  79.80      81.6    Dec/19    %
29      Montenegro  91.00      90.2    Dec/19    %
30     Netherlands  69.10      68.9    Dec/20    %
31   New Caledonia  60.50      60.0    Dec/19    %
32     New Zealand  64.60      64.7    Dec/18    %
33          Norway  80.30      81.3    Dec/19    %
34          Poland  84.20      84.0    Dec/19    %
35        Portugal  73.90      74.5    Dec/19    %
36         Romania  95.80      96.4    Dec/19    %
37          Russia  89.00      88.6    Dec/18    %
38          Serbia  83.30      84.4    Dec/19    %
39       Singapore  90.40      91.0    Dec/19    %
40        Slovakia  90.90      91.3    Dec/19    %
41        Slovenia  74.80      75.1    Dec/19    %
42     South Korea  58.00      57.7    Dec/19    %
43           Spain  76.20      76.3    Dec/19    %
44          Sweden  64.50      63.6    Dec/20    %
45     Switzerland  41.60      42.5    Dec/19    %
46          Turkey  58.80      59.0    Dec/19    %
47  United Kingdom  65.20      65.0    Dec/18    %
48   United States  65.40      65.4    Sep/21    %

In [12]:
#This is the link for logistics performance index - another predictor variable
url_lpi = "https://lpi.worldbank.org/international/global/2018.%202019"

In [13]:
#Reading in the table
l = pd.read_html(url_lpi)
df_temp4=pd.concat(l)
display(df_temp4)

,Country,Year,LPI Rank,LPI Score,Customs,Customs.1,Infrastructure,Infrastructure.1,International shipments,International shipments.1,Logistics competence,Logistics competence.1,Tracking & tracing,Tracking & tracing.1,Timeliness,Timeliness.1
0,Germany,2018,1,4.20,1,4.09,1,4.37,4,3.86,1,4.31,2,4.24,3,4.39
1,Sweden,2018,2,4.05,2,4.05,3,4.24,2,3.92,10,3.98,17,3.88,7,4.28
2,Belgium,2018,3,4.04,14,3.66,14,3.98,1,3.99,2,4.13,9,4.05,1,4.41
3,Austria,2018,4,4.03,12,3.71,5,4.18,3,3.88,6,4.08,7,4.09,12,4.25
4,Japan,2018,5,4.03,3,3.99,2,4.25,14,3.59,4,4.09,10,4.05,10,4.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Sierra Leone,2018,156,2.08,155,1.82,156,1.82,147,2.18,156,2.00,134,2.27,154,2.34
156,Niger,2018,157,2.07,157,1.77,142,2.00,158,2.00,150,2.10,141,2.22,155,2.33
157,Burundi,2018,158,2.06,159,1.69,146,1.95,139,2.21,117,2.33,156,2.01,158,2.17
158,Angola,2018,159,2.05,160,1.57,153,1.86,143,2.20,155,2.00,157,2.00,140,2.59
159,Afghanistan,2018,160,1.95,158,1.73,158,1.81,152,2.10,158,1.92,159,1.70,153,2.38

##### Predictor variables from World Bank

In [15]:
wbdata.get_topic()

  id  value
----  -------------------------------
   1  Agriculture & Rural Development
   2  Aid Effectiveness
   3  Economy & Growth
   4  Education
   5  Energy & Mining
   6  Environment
   7  Financial Sector
   8  Health
   9  Infrastructure
  10  Social Protection & Labor
  11  Poverty
  12  Private Sector
  13  Public Sector
  14  Science & Technology
  15  Social Development
  16  Urban Development
  17  Gender
  18  Millenium development goals
  19  Climate Change
  20  External Debt
  21  Trade

In [17]:
wbdata.get_indicator(topic=1)

id                    name
--------------------  ------------------------------------------------------------------------------------------
AG.AGR.TRAC.NO        Agricultural machinery, tractors
AG.CON.FERT.PT.ZS     Fertilizer consumption (% of fertilizer production)
AG.CON.FERT.ZS        Fertilizer consumption (kilograms per hectare of arable land)
AG.LND.AGRI.K2        Agricultural land (sq. km)
AG.LND.AGRI.ZS        Agricultural land (% of land area)
AG.LND.ARBL.HA        Arable land (hectares)
AG.LND.ARBL.HA.PC     Arable land (hectares per person)
AG.LND.ARBL.ZS        Arable land (% of land area)
AG.LND.CREL.HA        Land under cereal production (hectares)
AG.LND.CROP.ZS        Permanent cropland (% of land area)
AG.LND.EL5M.RU.K2     Rural land area where elevation is below 5 meters (sq. km)
AG.LND.EL5M.RU.ZS     Rural land area where elevation is below 5 meters (% of total land area)
AG.LND.FRST.K2        Forest area (sq. km)
AG.LND.FRST.ZS        Forest area (% of land area)
AG.LND.IRIG.AG.ZS     Agricultural irrigated land (% of total agricultural land)
AG.LND.PRCP.MM        Average precipitation in depth (mm per year)
AG.LND.TOTL.K2        Land area (sq. km)
AG.LND.TOTL.RU.K2     Rural land area (sq. km)
AG.LND.TRAC.ZS        Agricultural machinery, tractors per 100 sq. km of arable land
AG.PRD.CREL.MT        Cereal production (metric tons)
AG.PRD.CROP.XD        Crop production index (2014-2016 = 100)
AG.PRD.FOOD.XD        Food production index (2014-2016 = 100)
AG.PRD.LVSK.XD        Livestock production index (2014-2016 = 100)
AG.SRF.TOTL.K2        Surface area (sq. km)
AG.YLD.CREL.KG        Cereal yield (kg per hectare)
EA.PRD.AGRI.KD        Agriculture value added per worker (constant 2010 US$)
EG.ELC.ACCS.RU.ZS     Access to electricity, rural (% of rural population)
EG.NSF.ACCS.RU.ZS     Access to non-solid fuel, rural (% of rural population)
EN.AGR.EMPL           Economically active population in agriculture (number)
EN.ATM.METH.AG.KT.CE  Agricultural methane emissions (thousand metric tons of CO2 equivalent)
EN.ATM.METH.AG.ZS     Agricultural methane emissions (% of total)
EN.ATM.NOXE.AG.KT.CE  Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent)
EN.ATM.NOXE.AG.ZS     Agricultural nitrous oxide emissions (% of total)
EN.POP.EL5M.RU.ZS     Rural population living in areas where elevation is below 5 meters (% of total population)
ER.H2O.FWAG.ZS        Annual freshwater withdrawals, agriculture (% of total freshwater withdrawal)
NV.AGR.TOTL.CD        Agriculture, forestry, and fishing, value added (current US$)
NV.AGR.TOTL.ZS        Agriculture, forestry, and fishing, value added (% of GDP)
SH.H2O.SAFE.RU.ZS     Improved water source, rural (% of rural population with access)
SH.STA.ACSN.RU        Improved sanitation facilities, rural (% of rural population with access)
SI.POV.RUGP           Rural poverty gap at national poverty lines (%)
SI.POV.RUHC           Rural poverty headcount ratio at national poverty lines (% of rural population)
SL.AGR.EMPL.FE.ZS     Employment in agriculture, female (% of female employment) (modeled ILO estimate)
SL.AGR.EMPL.MA.ZS     Employment in agriculture, male (% of male employment) (modeled ILO estimate)
SL.AGR.EMPL.ZS        Employment in agriculture (% of total employment) (modeled ILO estimate)
SP.RUR.TOTL           Rural population
SP.RUR.TOTL.ZG        Rural population growth (annual %)
SP.RUR.TOTL.ZS        Rural population (% of total population)
TM.VAL.AGRI.ZS.UN     Agricultural raw materials imports (% of merchandise imports)
TX.VAL.AGRI.ZS.UN     Agricultural raw materials exports (% of merchandise exports)

In [20]:
wbdata.get_indicator(topic=11)

id                     name
---------------------  -----------------------------------------------------------------------------------------------------------------
1.0.HCount.1.90usd     Poverty Headcount ($1.90 a day)
1.0.HCount.2.5usd      Poverty Headcount ($2.50 a day)
1.0.HCount.Mid10to50   Middle Class ($10-50 a day) Headcount
1.0.HCount.Ofcl        Official Moderate Poverty Rate-National
1.0.HCount.Poor4uds    Poverty Headcount ($4 a day)
1.0.HCount.Vul4to10    Vulnerable ($4-10 a day) Headcount
1.0.PGap.1.90usd       Poverty Gap ($1.90 a day)
1.0.PGap.2.5usd        Poverty Gap ($2.50 a day)
1.0.PGap.Poor4uds      Poverty Gap ($4 a day)
1.0.PSev.1.90usd       Poverty Severity ($1.90 a day)
1.0.PSev.2.5usd        Poverty Severity ($2.50 a day)
1.0.PSev.Poor4uds      Poverty Severity ($4 a day)
1.1.HCount.1.90usd     Poverty Headcount ($1.90 a day)-Rural
1.1.HCount.2.5usd      Poverty Headcount ($2.50 a day)-Rural
1.1.HCount.Mid10to50   Middle Class ($10-50 a day) Headcount-Rural
1.1.HCount.Ofcl        Official Moderate Poverty Rate- Rural
1.1.HCount.Poor4uds    Poverty Headcount ($4 a day)-Rural
1.1.HCount.Vul4to10    Vulnerable ($4-10 a day) Headcount-Rural
1.1.PGap.1.90usd       Poverty Gap ($1.90 a day)-Rural
1.1.PGap.2.5usd        Poverty Gap ($2.50 a day)-Rural
1.1.PGap.Poor4uds      Poverty Gap ($4 a day)-Rural
1.1.PSev.1.90usd       Poverty Severity ($1.90 a day)-Rural
1.1.PSev.2.5usd        Poverty Severity ($2.50 a day)-Rural
1.1.PSev.Poor4uds      Poverty Severity ($4 a day)-Rural
1.2.HCount.1.90usd     Poverty Headcount ($1.90 a day)-Urban
1.2.HCount.2.5usd      Poverty Headcount ($2.50 a day)-Urban
1.2.HCount.Mid10to50   Middle Class ($10-50 a day) Headcount-Urban
1.2.HCount.Ofcl        Official Moderate Poverty Rate-Urban
1.2.HCount.Poor4uds    Poverty Headcount ($4 a day)-Urban
1.2.HCount.Vul4to10    Vulnerable ($4-10 a day) Headcount-Urban
1.2.PGap.1.90usd       Poverty Gap ($1.90 a day)-Urban
1.2.PGap.2.5usd        Poverty Gap ($2.50 a day)-Urban
1.2.PGap.Poor4uds      Poverty Gap ($4 a day)-Urban
1.2.PSev.1.90usd       Poverty Severity ($1.90 a day)-Urban
1.2.PSev.2.5usd        Poverty Severity ($2.50 a day)-Urban
1.2.PSev.Poor4uds      Poverty Severity ($4 a day)-Urban
2.0.cov.Cel            Coverage: Mobile Phone
2.0.cov.Ele            Coverage: Electricity
2.0.cov.Int            Coverage: Internet
2.0.cov.Math.pl_2.all  Coverage: Mathematics Proficiency Level 2
2.0.cov.Math.pl_2.prv  Coverage: Mathematics Proficiency Level 2, Private schools
2.0.cov.Math.pl_2.pub  Coverage: Mathematics Proficiency Level 2, Public schools
2.0.cov.Math.pl_3.all  Coverage: Mathematics Proficiency Level 3
2.0.cov.Math.pl_3.prv  Coverage: Mathematics Proficiency Level 3, Private schools
2.0.cov.Math.pl_3.pub  Coverage: Mathematics Proficiency Level 3, Public schools
2.0.cov.Read.pl_2.all  Coverage: Reading Proficiency Level 2
2.0.cov.Read.pl_2.prv  Coverage: Reading Proficiency Level 2, Private schools
2.0.cov.Read.pl_2.pub  Coverage: Reading Proficiency Level 2, Public schools
2.0.cov.Read.pl_3.all  Coverage: Reading Proficiency Level 3
2.0.cov.Read.pl_3.prv  Coverage: Reading Proficiency Level 3, Private schools
2.0.cov.Read.pl_3.pub  Coverage: Reading Proficiency Level 3, Public schools
2.0.cov.San            Coverage: Sanitation
2.0.cov.Sch            Coverage: School Enrollment
2.0.cov.Scie.pl_2.all  Coverage: Science Proficiency Level 2
2.0.cov.Scie.pl_2.prv  Coverage: Science Proficiency Level 2, Private schools
2.0.cov.Scie.pl_2.pub  Coverage: Science Proficiency Level 2, Public schools
2.0.cov.Scie.pl_3.all  Coverage: Science Proficiency Level 3
2.0.cov.Scie.pl_3.prv  Coverage: Science Proficiency Level 3, Private schools
2.0.cov.Scie.pl_3.pub  Coverage: Science Proficiency Level 3, Public schools
2.0.cov.Wat            Coverage: Water
2.0.hoi.Cel            HOI: Mobile Phone
2.0.hoi.Ele            HOI: Electricity
2.0.hoi.Int            HOI: Internet
2.0.hoi.Math.pl_2.all  HOI: Mathematics Proficiency Level 2
2.0.hoi.Math.pl_2.prv  HOI: Mathematics Proficiency Level 2, Private schools
2.0.hoi.Math.pl_2.pub  HOI: Mathematics Proficiency Level 2, Public schools
2.0.hoi.Math.pl_3.all  HOI: Mathematics Proficiency Level 3
2.0.hoi.Math.pl_3.prv  HOI: Mathematics Proficiency Level 3, Private schools
2.0.hoi.Math.pl_3.pub  HOI: Mathematics Proficiency Level 3, Public schools
2.0.hoi.Read.pl_2.all  HOI: Reading Proficiency Level 2
2.0.hoi.Read.pl_2.prv  HOI: Reading Proficiency Level 2, Private schools
2.0.hoi.Read.pl_2.pub  HOI: Reading Proficiency Level 2, Public schools
2.0.hoi.Read.pl_3.all  HOI: Reading Proficiency Level 3
2.0.hoi.Read.pl_3.prv  HOI: Reading Proficiency Level 3, Private schools
2.0.hoi.Read.pl_3.pub  HOI: Reading Proficiency Level 3, Public schools
2.0.hoi.San            HOI: Sanitation
2.0.hoi.Sch            HOI: School Enrollment
2.0.hoi.Scie.pl_2.all  HOI: Science Proficiency Level 2
2.0.hoi.Scie.pl_2.prv  HOI: Science Proficiency Level 2, Private schools
2.0.hoi.Scie.pl_2.pub  HOI: Science Proficiency Level 2, Public schools
2.0.hoi.Scie.pl_3.all  HOI: Science Proficiency Level 3
2.0.hoi.Scie.pl_3.prv  HOI: Science Proficiency Level 3, Private schools
2.0.hoi.Scie.pl_3.pub  HOI: Science Proficiency Level 3, Public schools
2.0.hoi.Wat            HOI: Water
3.0.Atkin.0.5          Atkinson, A(.5)
3.0.Atkin.1            Atkinson, A(1)
3.0.Atkin.2            Atkinson, A(2)
3.0.GenEnt-1           Generalized Entrophy, GE(-1)
3.0.GenEnt2            Generalized Entrophy, GE(2)
3.0.Gini               Gini Coefficient
3.0.Gini_nozero        Gini Coefficient (No Zero Income)
3.0.IncShr.q1          Income Share of First Quintile
3.0.IncShr.q2          Income Share of Second Quintile
3.0.IncShr.q3          Income Share of Third Quintile
3.0.IncShr.q4          Income Share of Fourth Quintile
3.0.IncShr.q5          Income Share of Fifth Quintile
3.0.MLongDev0          Mean Log Deviation, GE(0)
3.0.Rate75-25          Rate 75/25
3.0.Rate90-10          Rate 90/10
3.0.TheilInd1          Theil Index, GE(1)
3.1.Gini               Gini, Rural
3.1.MLongDev0          Mean Log Deviation, GE(0), Rural
3.1.TheilInd1          Theil Index, GE(1), Rural
3.2.Gini               Gini, Urban
3.2.MLongDev0          Mean Log Deviation, GE(0),Urban
3.2.TheilInd1          Theil Index, GE(1),Urban
8.0.LIPI               Labor Income Poverty Index
EN.POP.SLUM.UR.ZS      Population living in slums (% of urban population)
SI.DST.02ND.20         Income share held by second 20%
SI.DST.03RD.20         Income share held by third 20%
SI.DST.04TH.20         Income share held by fourth 20%
SI.DST.05TH.20         Income share held by highest 20%
SI.DST.10TH.10         Income share held by highest 10%
SI.DST.50MD            Proportion of people living below 50 percent of median income (%)
SI.DST.FRST.10         Income share held by lowest 10%
SI.DST.FRST.20         Income share held by lowest 20%
SI.POV.2DAY            Poverty headcount ratio at $3.10 a day (2011 PPP) (% of population)
SI.POV.DDAY            Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)
SI.POV.GAP2            Poverty gap at $3.10 a day (2011 PPP) (%)
SI.POV.GAPS            Poverty gap at $1.90 a day (2011 PPP) (%)
SI.POV.GINI            Gini index (World Bank estimate)
SI.POV.LMIC            Poverty headcount ratio at $3.20 a day (2011 PPP) (% of population)
SI.POV.LMIC.GP         Poverty gap at $3.20 a day (2011 PPP) (%)
SI.POV.MDIM            Multidimensional poverty headcount ratio (% of total population)
SI.POV.MDIM.17         Multidimensional poverty headcount ratio, children (% of population ages 0-17)
SI.POV.MDIM.17.XQ      Multidimensional poverty index, children (population ages 0-17) (scale 0-1)
SI.POV.MDIM.FE         Multidimensional poverty headcount ratio, female (% of female population)
SI.POV.MDIM.HH         Multidimensional poverty headcount ratio, household (% of total households)
SI.POV.MDIM.IT         Multidimensional poverty intensity (average share of deprivations experienced by the poor)
SI.POV.MDIM.MA         Multidimensional poverty headcount ratio, male (% of male population)
SI.POV.MDIM.XQ         Multidimensional poverty index (scale 0-1)
SI.POV.NAGP            Poverty gap at national poverty lines (%)
SI.POV.NAHC            Poverty headcount ratio at national poverty lines (% of population)
SI.POV.RUGP            Rural poverty gap at national poverty lines (%)
SI.POV.RUHC            Rural poverty headcount ratio at national poverty lines (% of rural population)
SI.POV.UMIC            Poverty headcount ratio at $5.50 a day (2011 PPP) (% of population)
SI.POV.UMIC.GP         Poverty gap at $5.50 a day (2011 PPP) (%)
SI.POV.URGP            Urban poverty gap at national poverty lines (%)
SI.POV.URHC            Urban poverty headcount ratio at national poverty lines (% of urban population)
SI.SPR.PC40            Survey mean consumption or income per capita, bottom 40% of population (2011 PPP $ per day)
SI.SPR.PC40.05         Survey mean consumption or income per capita, bottom 40% (2005 PPP $ per day)
SI.SPR.PC40.ZG         Annualized average growth rate in per capita real survey mean consumption or income, bottom 40% of population (%)
SI.SPR.PCAP            Survey mean consumption or income per capita, total population (2011 PPP $ per day)
SI.SPR.PCAP.05         Survey mean consumption or income per capita, total population (2005 PPP $ per day)
SI.SPR.PCAP.ZG         Annualized average growth rate in per capita real survey mean consumption or income, total population (%)

In [16]:
#Creating a dictionary of the required indicators
indicators = {
    "AG.LND.ARBL.HA.PC" : "Arable Land in Hectares per person",
    "AG.YLD.CREL.KG" :"Cereal yield (kg/hectare)",
    "SL.EMP.WORK.ZS" : "Wage and Salaried Employees"
}

In [21]:
#Storing all the data in a dataframe
df_WB=wbdata.get_dataframe(indicators,country="all")

In [22]:
#Checking the dataframe
display(df_WB)

                                  Arable Land in Hectares per person  \
country                     date
Africa Eastern and Southern 2020                                 NaN
                            2019                                 NaN
                            2018                            0.184952
                            2017                            0.189571
                            2016                            0.195264
...                                                              ...
Zimbabwe                    1964                            0.470754
                            1963                            0.475025
                            1962                            0.479054
                            1961                            0.482710
                            1960                                 NaN

                                  Cereal yield (kg/hectare)  \
country                     date
Africa Eastern and Southern 2020                        NaN
                            2019                        NaN
                            2018                1622.882922
                            2017                1728.818670
                            2016                1498.714700
...                                                     ...
Zimbabwe                    1964                 820.500000
                            1963                 822.500000
                            1962                 905.900000
                            1961                 919.700000
                            1960                        NaN

                                  Wage and Salaried Employees
country                     date
Africa Eastern and Southern 2020                          NaN
                            2019                    27.844263
                            2018                    27.755236
                            2017                    27.416973
                            2016                    27.138512
...                                                       ...
Zimbabwe                    1964                          NaN
                            1963                          NaN
                            1962                          NaN
                            1961                          NaN
                            1960                          NaN

[16226 rows x 3 columns]

In [23]:
df_wb=df_WB.copy() #creates a copy of dataframe; if you instead  do df2=df all changes to df2 will impact df
df_wb.reset_index(inplace=True)

In [24]:
display(df_wb)

,country,date,Arable Land in Hectares per person,Cereal yield (kg/hectare),Wage and Salaried Employees
0,Africa Eastern and Southern,2020,NaN,NaN,NaN
1,Africa Eastern and Southern,2019,NaN,NaN,27.844263
2,Africa Eastern and Southern,2018,0.184952,1622.882922,27.755236
3,Africa Eastern and Southern,2017,0.189571,1728.818670,27.416973
4,Africa Eastern and Southern,2016,0.195264,1498.714700,27.138512
...,...,...,...,...,...
16221,Zimbabwe,1964,0.470754,820.500000,NaN
16222,Zimbabwe,1963,0.475025,822.500000,NaN
16223,Zimbabwe,1962,0.479054,905.900000,NaN
16224,Zimbabwe,1961,0.482710,919.700000,NaN
16225,Zimbabwe,1960,NaN,NaN,NaN

##### Scraping the target variable

In [1]:
#This is the link of our target variable - Global Food Insecurity Index
url_target = "https://impact.economist.com/sustainability/project/food-security-index/Index/YoY"

In [3]:
#Downloading the pafe
page_target = requests.get(url_target) 
page_target.status_code

200

In [4]:
soup_target = BeautifulSoup(page_target.content, 'html.parser') # Parsing
target_content = [i.get_text() for i in soup_target.find_all('table')] #Obtaining the table

In [5]:
print(target_content) #Checking what we got

["\n\n\nGlobal ranking\nCountry\n2012\n2013\n2014\n2015\n2016\n2017\n2018\n2019\n2020\n2021\n\nLast 10 Year change\n\n\n\n\n54th\nAlgeria\n\n53.2\n51.3\n57.4\n58.2\n62.9\n63.5\n63.3\n63.7\n61.6\n63.9\n\n\n\n98th\nAngola\n\n40.1\n40.9\n38.5\n40.2\n38.4\n38.1\n39.1\n40.6\n41.7\n41.1\n\n\n\n53rd\nArgentina\n\n61.0\n61.2\n61.5\n59.1\n64.2\n65.6\n66.9\n63.1\n63.1\n64.2\n\n\n\n=32nd\nAustralia\n\n70.9\n74.4\n76.5\n75.9\n77.1\n76.1\n78.1\n75.9\n73.9\n71.6\n\n\n\n2nd\nAustria\n\n79.6\n79.0\n79.0\n79.9\n79.6\n79.2\n78.7\n79.2\n80.1\n81.3\n\n\n\n56th\nAzerbaijan\n\n57.5\n61.2\n62.8\n64.5\n61.6\n58.9\n58.8\n61.9\n61.5\n62.6\n\n\n\n43rd\nBahrain\n\n63.2\n64.9\n67.1\n65.4\n65.8\n67.1\n67.8\n68.2\n68.4\n68.5\n\n\n\n84th\nBangladesh\n\n44.4\n47.7\n49.1\n50.2\n51.0\n53.4\n53.0\n50.8\n50.5\n49.1\n\n\n\n=36th\nBelarus\n\n64.0\n64.6\n67.5\n64.0\n67.9\n66.3\n71.5\n73.5\n70.4\n70.9\n\n\n\n19th\nBelgium\n\n76.1\n76.4\n77.1\n77.9\n77.5\n78.3\n78.1\n76.9\n76.9\n76.1\n\n\n\n93rd\nBenin\n\n39.9\n40.3\n41.8\n45.2\n45.8\n46.4\n45.4\n45.4\n46.1\n45.2\n\n\n\n65th\nBolivia\n\n53.1\n58.2\n58.5\n61.2\n62.1\n61.0\n61.2\n60.3\n59.0\n59.9\n\n\n\n74th\nBotswana\n\n53.7\n53.8\n53.4\n53.4\n54.0\n53.7\n54.7\n56.1\n56.1\n55.5\n\n\n\n63rd\nBrazil\n\n65.4\n66.5\n65.4\n68.4\n68.8\n67.7\n70.7\n66.7\n62.8\n60.6\n\n\n\n38th\nBulgaria\n\n63.1\n63.9\n63.7\n66.8\n67.3\n67.7\n66.0\n66.9\n68.7\n70.5\n\n\n\n85th\nBurkina Faso\n\n40.4\n42.7\n43.1\n44.1\n43.9\n46.3\n48.1\n49.5\n46.8\n48.1\n\n\n\n113th\nBurundi\n\n39.2\n38.7\n38.8\n41.4\n42.7\n41.5\n31.1\n37.2\n38.0\n34.7\n\n\n\n81st\nCambodia\n\n43.8\n46.4\n48.3\n50.5\n51.1\n51.6\n53.1\n54.0\n51.3\n53.0\n\n\n\n92nd\nCameroon\n\n44.2\n41.4\n42.1\n46.4\n45.4\n45.2\n46.2\n44.4\n43.9\n45.5\n\n\n\n7th\nCanada\n\n73.7\n74.4\n74.7\n73.1\n73.3\n73.6\n75.6\n77.8\n78.0\n79.8\n\n\n\n99th\nChad\n\n33.2\n32.3\n35.9\n39.0\n39.2\n39.9\n40.2\n43.8\n41.7\n40.6\n\n\n\n28th\nChile\n\n67.8\n67.8\n69.8\n68.1\n67.7\n70.8\n73.4\n73.3\n72.1\n73.2\n\n\n\n34th\nChina\n\n61.7\n68.2\n69.6\n72.1\n72.5\n70.9\n72.6\n74.4\n70.9\n71.3\n\n\n\n52nd\nColombia\n\n63.2\n61.1\n65.7\n67.4\n64.7\n63.5\n67.5\n67.4\n60.5\n64.4\n\n\n\n103rd\nCongo (Dem. Rep.)\n\n32.3\n34.8\n34.6\n35.1\n34.3\n35.4\n32.8\n38.0\n38.1\n39.1\n\n\n\n=24th\nCosta Rica\n\n69.5\n72.1\n71.0\n70.4\n71.2\n69.6\n72.5\n70.8\n71.4\n73.6\n\n\n\n=86th\nCôte d'Ivoire\n\n43.8\n44.3\n43.8\n47.1\n44.4\n46.8\n49.7\n50.3\n50.4\n48.0\n\n\n\n14th\nCzech Republic\n\n74.9\n74.3\n74.5\n75.6\n79.7\n78.8\n77.6\n79.4\n78.8\n77.8\n\n\n\n17th\nDenmark\n\n76.5\n77.1\n78.2\n78.5\n77.7\n78.4\n77.8\n78.0\n76.7\n76.5\n\n\n\n47th\nDominican Republic\n\n61.7\n60.0\n59.8\n63.8\n65.1\n63.1\n65.8\n65.6\n66.2\n65.4\n\n\n\n66th\nEcuador\n\n56.3\n54.5\n58.5\n57.2\n57.7\n60.6\n60.2\n60.8\n58.9\n59.6\n\n\n\n62nd\nEgypt\n\n58.9\n58.5\n59.5\n62.4\n59.8\n58.0\n57.0\n61.3\n59.8\n60.8\n\n\n\n67th\nEl Salvador\n\n57.7\n60.3\n59.7\n60.8\n57.2\n57.5\n58.8\n58.9\n57.8\n59.5\n\n\n\n108th\nEthiopia\n\n33.7\n35.4\n41.6\n42.1\n41.9\n44.5\n41.3\n41.5\n36.7\n37.6\n\n\n\n4th\nFinland\n\n80.6\n79.6\n80.2\n81.9\n84.1\n84.1\n83.9\n84.5\n85.2\n80.9\n\n\n\n=9th\nFrance\n\n79.1\n78.7\n79.0\n79.7\n78.6\n80.7\n79.6\n78.5\n78.4\n79.1\n\n\n\n11th\nGermany\n\n77.6\n77.6\n77.1\n78.6\n80.1\n80.4\n79.4\n79.7\n79.6\n78.7\n\n\n\n82nd\nGhana\n\n48.8\n50.4\n50.5\n51.9\n50.7\n52.8\n53.5\n52.9\n52.8\n52.0\n\n\n\n27th\nGreece\n\n71.0\n72.0\n75.1\n76.6\n75.4\n75.9\n75.5\n74.6\n74.1\n73.3\n\n\n\n80th\nGuatemala\n\n52.3\n53.3\n56.1\n56.1\n58.2\n58.0\n57.9\n55.5\n55.1\n53.5\n\n\n\n96th\nGuinea\n\n34.7\n36.0\n39.8\n41.6\n38.5\n40.0\n40.4\n40.6\n42.8\n43.0\n\n\n\n=106th\nHaiti\n\n38.7\n40.0\n41.4\n42.7\n41.2\n39.4\n38.7\n35.8\n35.7\n37.8\n\n\n\n68th\nHonduras\n\n54.3\n56.8\n58.7\n56.7\n57.3\n56.6\n60.2\n59.7\n58.1\n59.4\n\n\n\n31st\nHungary\n\n68.2\n67.9\n68.9\n71.7\n72.5\n72.5\n70.6\n71.3\n72.0\n72.1\n\n\n\n71st\nIndia\n\n54.5\n54.7\n53.3\n56.0\n58.4\n58.9\n59.9\n59.8\n58.6\n57.2\n\n\n\n69th\nIndonesia\n\n52.5\n54.2\n54.7\n55.6\n55.8\n57.1\n62.4\n60.4\n61.4\n59.2\n\n\n\n1st\nIreland\n\n80.0\n80.6\n80.4\n80.9\n82.6\n83.7\n84.8\n84.7\n84.5\n84.0\n\n\n\n12th\nIsrael\n\n72.6\n73.5\n73.4\n76.4\n77.5\n76.3\n78.6\n78.2\n78.1\n78.0\n\n\n\n18th\nItaly\n\n76.4\n75.9\n77.2\n77.6\n77.3\n76.9\n76.1\n76.1\n76.5\n76.4\n\n\n\n8th\nJapan\n\n77.1\n78.1\n78.2\n78.6\n79.0\n79.8\n79.8\n79.8\n80.3\n79.3\n\n\n\n=49th\nJordan\n\n65.0\n64.7\n61.9\n64.2\n64.3\n64.6\n64.2\n63.4\n64.9\n64.6\n\n\n\n41st\nKazakhstan\n\n61.5\n60.4\n63.2\n63.1\n64.4\n63.6\n65.1\n69.9\n71.9\n69.2\n\n\n\n90th\nKenya\n\n38.3\n40.5\n43.4\n43.6\n43.2\n45.9\n45.3\n48.6\n46.7\n46.8\n\n\n\n30th\nKuwait\n\n68.9\n70.5\n70.5\n67.6\n66.3\n68.0\n69.7\n71.3\n72.9\n72.2\n\n\n\n91st\nLaos\n\n41.5\n45.4\n44.6\n48.4\n48.9\n50.7\n52.5\n49.5\n51.0\n46.4\n\n\n\n100th\nMadagascar\n\n36.7\n38.3\n38.6\n38.7\n39.0\n36.8\n35.9\n35.1\n38.0\n40.4\n\n\n\n109th\nMalawi\n\n39.5\n33.9\n35.3\n36.9\n36.3\n35.4\n39.5\n40.0\n39.1\n37.3\n\n\n\n39th\nMalaysia\n\n65.5\n66.8\n69.2\n68.6\n65.0\n64.2\n64.1\n66.8\n65.0\n70.1\n\n\n\n76th\nMali\n\n46.6\n48.7\n49.9\n50.4\n48.5\n49.9\n52.7\n53.1\n52.7\n54.5\n\n\n\n46th\nMexico\n\n63.0\n60.0\n64.4\n62.9\n64.2\n67.3\n64.1\n68.2\n66.1\n66.9\n\n\n\n57th\nMorocco\n\n54.1\n54.8\n55.7\n58.4\n57.8\n58.2\n62.0\n59.2\n62.1\n62.5\n\n\n\n111th\nMozambique\n\n37.7\n43.0\n42.5\n41.6\n39.8\n36.3\n37.3\n41.7\n37.2\n35.9\n\n\n\n72nd\nMyanmar\n\n49.8\n49.8\n52.8\n52.3\n53.2\n52.5\n55.1\n55.2\n54.0\n56.7\n\n\n\n79th\nNepal\n\n46.7\n47.1\n50.3\n49.7\n50.7\n52.4\n54.9\n55.3\n54.8\n53.7\n\n\n\n6th\nNetherlands\n\n77.5\n77.7\n76.9\n78.5\n79.0\n78.7\n81.0\n81.2\n80.0\n79.9\n\n\n\n16th\nNew Zealand\n\n75.4\n77.2\n77.2\n77.0\n78.2\n78.3\n77.3\n78.2\n77.7\n76.8\n\n\n\n73rd\nNicaragua\n\n54.6\n54.5\n55.6\n56.5\n55.8\n58.2\n56.3\n54.8\n53.0\n56.0\n\n\n\n88th\nNiger\n\n40.4\n40.8\n40.4\n43.3\n46.4\n44.8\n48.3\n49.8\n49.9\n47.6\n\n\n\n97th\nNigeria\n\n39.0\n41.1\n39.5\n40.9\n42.4\n41.9\n40.5\n42.6\n41.2\n41.3\n\n\n\n20th\nNorway\n\n79.4\n80.5\n80.2\n80.3\n79.9\n79.3\n80.5\n79.7\n78.5\n76.0\n\n\n\n40th\nOman\n\n58.1\n59.1\n66.0\n66.1\n68.9\n70.3\n70.9\n69.9\n70.5\n70.0\n\n\n\n75th\nPakistan\n\n45.7\n47.5\n48.0\n51.1\n53.8\n55.0\n57.5\n58.2\n55.7\n54.7\n\n\n\n=36th\nPanama\n\n62.5\n64.9\n64.7\n65.5\n66.2\n71.2\n69.3\n72.1\n72.8\n70.9\n\n\n\n59th\nParaguay\n\n53.1\n56.2\n56.3\n53.9\n58.2\n58.6\n58.2\n58.4\n60.4\n61.6\n\n\n\n=49th\nPeru\n\n59.8\n61.8\n62.7\n65.5\n65.1\n65.4\n65.7\n68.4\n66.2\n64.6\n\n\n\n64th\nPhilippines\n\n52.9\n53.1\n54.2\n56.1\n57.4\n55.7\n57.7\n60.1\n61.0\n60.0\n\n\n\n22nd\nPoland\n\n70.5\n72.7\n74.6\n74.1\n74.5\n74.6\n74.4\n76.9\n75.2\n74.9\n\n\n\n21st\nPortugal\n\n76.7\n75.7\n74.8\n76.1\n76.9\n76.2\n77.4\n76.6\n76.5\n75.2\n\n\n\n=24th\nQatar\n\n66.2\n69.2\n72.4\n72.5\n72.0\n74.5\n73.1\n74.8\n73.7\n73.6\n\n\n\n29th\nRomania\n\n66.2\n67.3\n69.2\n70.3\n71.2\n71.3\n69.9\n71.9\n73.8\n72.4\n\n\n\n23rd\nRussia\n\n65.4\n66.5\n65.9\n65.6\n63.5\n69.8\n72.6\n73.4\n73.9\n74.8\n\n\n\n101st\nRwanda\n\n43.6\n39.9\n42.5\n44.2\n42.6\n37.4\n38.8\n43.7\n45.2\n40.3\n\n\n\n44th\nSaudi Arabia\n\n63.6\n65.7\n66.6\n68.6\n67.6\n69.3\n70.2\n68.7\n71.5\n68.1\n\n\n\n89th\nSenegal\n\n41.4\n42.6\n45.9\n48.1\n48.7\n46.7\n48.5\n48.1\n45.5\n47.4\n\n\n\n60th\nSerbia\n\n56.8\n57.9\n61.1\n63.9\n60.6\n62.2\n60.6\n61.3\n61.2\n61.4\n\n\n\n104th\nSierra Leone\n\n33.8\n35.2\n41.7\n43.1\n40.7\n38.0\n33.9\n36.6\n39.8\n38.1\n\n\n\n15th\nSingapore\n\n72.3\n73.9\n76.1\n75.9\n75.8\n76.3\n76.1\n78.4\n78.3\n77.4\n\n\n\n42nd\nSlovakia\n\n67.5\n69.0\n68.5\n71.1\n71.7\n71.4\n68.5\n68.6\n68.1\n68.7\n\n\n\n70th\nSouth Africa\n\n55.8\n56.3\n56.8\n59.5\n63.4\n60.0\n61.6\n59.4\n58.0\n57.8\n\n\n\n=32nd\nSouth Korea\n\n67.5\n68.9\n70.1\n70.4\n72.2\n72.8\n73.1\n72.3\n73.4\n71.6\n\n\n\n=24th\nSpain\n\n73.8\n74.7\n74.2\n74.9\n75.2\n74.1\n74.8\n74.3\n74.8\n73.6\n\n\n\n77th\nSri Lanka\n\n53.1\n55.3\n53.9\n55.5\n57.5\n59.3\n56.9\n59.3\n57.1\n54.1\n\n\n\n110th\nSudan\n\n34.7\n33.4\n36.0\n36.8\n39.1\n40.7\n38.9\n39.3\n36.4\n37.1\n\n\n\n13th\nSweden\n\n77.3\n77.9\n78.0\n79.5\n80.3\n82.1\n80.8\n80.5\n78.3\n77.9\n\n\n\n5th\nSwitzerland\n\n78.9\n78.9\n78.5\n77.7\n78.8\n78.3\n81.1\n79.7\n80.2\n80.4\n\n\n\n=106th\nSyria\n\n41.2\n38.1\n43.0\n42.8\n42.5\n39.3\n40.3\n45.4\n39.5\n37.8\n\n\n\n83rd\nTajikistan\n\n44.2\n48.0\n47.4\n46.0\n48.3\n50.3\n50.2\n54.8\n52.5\n51.6\n\n\n\n=86th\nTanzania\n\n34.7\n36.3\n40.0\n38.8\n44.5\n45.6\n43.1\n45.3\n47.7\n48.0\n\n\n\n51st\nThailand\n\n59.7\n62.5\n63.7\n63.5\n64.7\n63.5\n63.7\n63.8\n63.6\n64.5\n\n\n\n94th\nTogo\n\n39.0\n39.6\n42.0\n43.8\n38.4\n45.4\n44.3\n46.2\n45.7\n44.2\n\n\n\n55th\nTunisia\n\n60.0\n57.7\n58.4\n59.2\n59.8\n63.2\n62.2\n61.8\n60.2\n62.7\n\n\n\n48th\nTurkey\n\n64.0\n63.5\n65.0\n64.0\n64.5\n65.9\n64.0\n63.5\n61.2\n65.1\n\n\n\n95th\nUganda\n\n40.3\n42.3\n46.7\n47.9\n46.5\n46.3\n40.8\n43.7\n43.2\n43.9\n\n\n\n58th\nUkraine\n\n57.8\n56.1\n58.2\n54.9\n50.7\n54.1\n53.2\n56.3\n58.8\n62.0\n\n\n\n35th\nUnited Arab Emirates\n\n61.4\n60.3\n61.5\n63.8\n63.1\n65.8\n70.1\n70.1\n71.4\n71.0\n\n\n\n3rd\nUnited Kingdom\n\n74.9\n76.7\n77.3\n80.2\n79.7\n80.1\n79.3\n80.6\n80.6\n81.0\n\n\n\n=9th\nUnited States\n\n77.8\n77.9\n80.0\n77.7\n79.8\n80.0\n79.5\n79.3\n80.0\n79.1\n\n\n\n45th\nUruguay\n\n62.0\n66.3\n66.2\n66.1\n67.4\n68.2\n73.4\n72.7\n72.7\n68.0\n\n\n\n78th\nUzbekistan\n\n53.3\n54.7\n53.1\n55.5\n58.6\n60.2\n55.0\n54.5\n54.1\n53.8\n\n\n\n102nd\nVenezuela\n\n49.3\n49.1\n48.3\n47.8\n49.8\n46.2\n45.8\n41.7\n40.5\n39.4\n\n\n\n61st\nVietnam\n\n53.9\n58.9\n62.1\n62.2\n63.0\n59.6\n62.9\n62.3\n62.7\n61.1\n\n\n\n112th\nYemen\n\n35.7\n35.2\n34.9\n40.2\n36.4\n36.0\n34.7\n35.2\n35.2\n35.7\n\n\n\n105th\nZambia\n\n38.2\n41.4\n40.5\n40.1\n42.3\n38.0\n41.9\n41.1\n38.9\n38.0\n\n\n\n"]

In [6]:
#Output is one long string inside a list, so we are going to split it
for i in target_content:
    temp1 = i.split("\n")

In [7]:
#Checking if we got desired result
print(temp1)

['', '', '', 'Global ranking', 'Country', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '', 'Last 10 Year change', '', '', '', '', '54th', 'Algeria', '', '53.2', '51.3', '57.4', '58.2', '62.9', '63.5', '63.3', '63.7', '61.6', '63.9', '', '', '', '98th', 'Angola', '', '40.1', '40.9', '38.5', '40.2', '38.4', '38.1', '39.1', '40.6', '41.7', '41.1', '', '', '', '53rd', 'Argentina', '', '61.0', '61.2', '61.5', '59.1', '64.2', '65.6', '66.9', '63.1', '63.1', '64.2', '', '', '', '=32nd', 'Australia', '', '70.9', '74.4', '76.5', '75.9', '77.1', '76.1', '78.1', '75.9', '73.9', '71.6', '', '', '', '2nd', 'Austria', '', '79.6', '79.0', '79.0', '79.9', '79.6', '79.2', '78.7', '79.2', '80.1', '81.3', '', '', '', '56th', 'Azerbaijan', '', '57.5', '61.2', '62.8', '64.5', '61.6', '58.9', '58.8', '61.9', '61.5', '62.6', '', '', '', '43rd', 'Bahrain', '', '63.2', '64.9', '67.1', '65.4', '65.8', '67.1', '67.8', '68.2', '68.4', '68.5', '', '', '', '84th', 'Bangladesh', '', '44.4', '47.7', '49.1', '50.2', '51.0', '53.4', '53.0', '50.8', '50.5', '49.1', '', '', '', '=36th', 'Belarus', '', '64.0', '64.6', '67.5', '64.0', '67.9', '66.3', '71.5', '73.5', '70.4', '70.9', '', '', '', '19th', 'Belgium', '', '76.1', '76.4', '77.1', '77.9', '77.5', '78.3', '78.1', '76.9', '76.9', '76.1', '', '', '', '93rd', 'Benin', '', '39.9', '40.3', '41.8', '45.2', '45.8', '46.4', '45.4', '45.4', '46.1', '45.2', '', '', '', '65th', 'Bolivia', '', '53.1', '58.2', '58.5', '61.2', '62.1', '61.0', '61.2', '60.3', '59.0', '59.9', '', '', '', '74th', 'Botswana', '', '53.7', '53.8', '53.4', '53.4', '54.0', '53.7', '54.7', '56.1', '56.1', '55.5', '', '', '', '63rd', 'Brazil', '', '65.4', '66.5', '65.4', '68.4', '68.8', '67.7', '70.7', '66.7', '62.8', '60.6', '', '', '', '38th', 'Bulgaria', '', '63.1', '63.9', '63.7', '66.8', '67.3', '67.7', '66.0', '66.9', '68.7', '70.5', '', '', '', '85th', 'Burkina Faso', '', '40.4', '42.7', '43.1', '44.1', '43.9', '46.3', '48.1', '49.5', '46.8', '48.1', '', '', '', '113th', 'Burundi', '', '39.2', '38.7', '38.8', '41.4', '42.7', '41.5', '31.1', '37.2', '38.0', '34.7', '', '', '', '81st', 'Cambodia', '', '43.8', '46.4', '48.3', '50.5', '51.1', '51.6', '53.1', '54.0', '51.3', '53.0', '', '', '', '92nd', 'Cameroon', '', '44.2', '41.4', '42.1', '46.4', '45.4', '45.2', '46.2', '44.4', '43.9', '45.5', '', '', '', '7th', 'Canada', '', '73.7', '74.4', '74.7', '73.1', '73.3', '73.6', '75.6', '77.8', '78.0', '79.8', '', '', '', '99th', 'Chad', '', '33.2', '32.3', '35.9', '39.0', '39.2', '39.9', '40.2', '43.8', '41.7', '40.6', '', '', '', '28th', 'Chile', '', '67.8', '67.8', '69.8', '68.1', '67.7', '70.8', '73.4', '73.3', '72.1', '73.2', '', '', '', '34th', 'China', '', '61.7', '68.2', '69.6', '72.1', '72.5', '70.9', '72.6', '74.4', '70.9', '71.3', '', '', '', '52nd', 'Colombia', '', '63.2', '61.1', '65.7', '67.4', '64.7', '63.5', '67.5', '67.4', '60.5', '64.4', '', '', '', '103rd', 'Congo (Dem. Rep.)', '', '32.3', '34.8', '34.6', '35.1', '34.3', '35.4', '32.8', '38.0', '38.1', '39.1', '', '', '', '=24th', 'Costa Rica', '', '69.5', '72.1', '71.0', '70.4', '71.2', '69.6', '72.5', '70.8', '71.4', '73.6', '', '', '', '=86th', "Côte d'Ivoire", '', '43.8', '44.3', '43.8', '47.1', '44.4', '46.8', '49.7', '50.3', '50.4', '48.0', '', '', '', '14th', 'Czech Republic', '', '74.9', '74.3', '74.5', '75.6', '79.7', '78.8', '77.6', '79.4', '78.8', '77.8', '', '', '', '17th', 'Denmark', '', '76.5', '77.1', '78.2', '78.5', '77.7', '78.4', '77.8', '78.0', '76.7', '76.5', '', '', '', '47th', 'Dominican Republic', '', '61.7', '60.0', '59.8', '63.8', '65.1', '63.1', '65.8', '65.6', '66.2', '65.4', '', '', '', '66th', 'Ecuador', '', '56.3', '54.5', '58.5', '57.2', '57.7', '60.6', '60.2', '60.8', '58.9', '59.6', '', '', '', '62nd', 'Egypt', '', '58.9', '58.5', '59.5', '62.4', '59.8', '58.0', '57.0', '61.3', '59.8', '60.8', '', '', '', '67th', 'El Salvador', '', '57.7', '60.3', '59.7', '60.8', '57.2', '57.5', '58.8', '58.9', '57.8', '59.5', '', '', '', '108th', 'Ethiopia', '', '33.7', '35.4', '41.6', '42.1', '41.9', '44.5', '41.3', '41.5', '36.7', '37.6', '', '', '', '4th', 'Finland', '', '80.6', '79.6', '80.2', '81.9', '84.1', '84.1', '83.9', '84.5', '85.2', '80.9', '', '', '', '=9th', 'France', '', '79.1', '78.7', '79.0', '79.7', '78.6', '80.7', '79.6', '78.5', '78.4', '79.1', '', '', '', '11th', 'Germany', '', '77.6', '77.6', '77.1', '78.6', '80.1', '80.4', '79.4', '79.7', '79.6', '78.7', '', '', '', '82nd', 'Ghana', '', '48.8', '50.4', '50.5', '51.9', '50.7', '52.8', '53.5', '52.9', '52.8', '52.0', '', '', '', '27th', 'Greece', '', '71.0', '72.0', '75.1', '76.6', '75.4', '75.9', '75.5', '74.6', '74.1', '73.3', '', '', '', '80th', 'Guatemala', '', '52.3', '53.3', '56.1', '56.1', '58.2', '58.0', '57.9', '55.5', '55.1', '53.5', '', '', '', '96th', 'Guinea', '', '34.7', '36.0', '39.8', '41.6', '38.5', '40.0', '40.4', '40.6', '42.8', '43.0', '', '', '', '=106th', 'Haiti', '', '38.7', '40.0', '41.4', '42.7', '41.2', '39.4', '38.7', '35.8', '35.7', '37.8', '', '', '', '68th', 'Honduras', '', '54.3', '56.8', '58.7', '56.7', '57.3', '56.6', '60.2', '59.7', '58.1', '59.4', '', '', '', '31st', 'Hungary', '', '68.2', '67.9', '68.9', '71.7', '72.5', '72.5', '70.6', '71.3', '72.0', '72.1', '', '', '', '71st', 'India', '', '54.5', '54.7', '53.3', '56.0', '58.4', '58.9', '59.9', '59.8', '58.6', '57.2', '', '', '', '69th', 'Indonesia', '', '52.5', '54.2', '54.7', '55.6', '55.8', '57.1', '62.4', '60.4', '61.4', '59.2', '', '', '', '1st', 'Ireland', '', '80.0', '80.6', '80.4', '80.9', '82.6', '83.7', '84.8', '84.7', '84.5', '84.0', '', '', '', '12th', 'Israel', '', '72.6', '73.5', '73.4', '76.4', '77.5', '76.3', '78.6', '78.2', '78.1', '78.0', '', '', '', '18th', 'Italy', '', '76.4', '75.9', '77.2', '77.6', '77.3', '76.9', '76.1', '76.1', '76.5', '76.4', '', '', '', '8th', 'Japan', '', '77.1', '78.1', '78.2', '78.6', '79.0', '79.8', '79.8', '79.8', '80.3', '79.3', '', '', '', '=49th', 'Jordan', '', '65.0', '64.7', '61.9', '64.2', '64.3', '64.6', '64.2', '63.4', '64.9', '64.6', '', '', '', '41st', 'Kazakhstan', '', '61.5', '60.4', '63.2', '63.1', '64.4', '63.6', '65.1', '69.9', '71.9', '69.2', '', '', '', '90th', 'Kenya', '', '38.3', '40.5', '43.4', '43.6', '43.2', '45.9', '45.3', '48.6', '46.7', '46.8', '', '', '', '30th', 'Kuwait', '', '68.9', '70.5', '70.5', '67.6', '66.3', '68.0', '69.7', '71.3', '72.9', '72.2', '', '', '', '91st', 'Laos', '', '41.5', '45.4', '44.6', '48.4', '48.9', '50.7', '52.5', '49.5', '51.0', '46.4', '', '', '', '100th', 'Madagascar', '', '36.7', '38.3', '38.6', '38.7', '39.0', '36.8', '35.9', '35.1', '38.0', '40.4', '', '', '', '109th', 'Malawi', '', '39.5', '33.9', '35.3', '36.9', '36.3', '35.4', '39.5', '40.0', '39.1', '37.3', '', '', '', '39th', 'Malaysia', '', '65.5', '66.8', '69.2', '68.6', '65.0', '64.2', '64.1', '66.8', '65.0', '70.1', '', '', '', '76th', 'Mali', '', '46.6', '48.7', '49.9', '50.4', '48.5', '49.9', '52.7', '53.1', '52.7', '54.5', '', '', '', '46th', 'Mexico', '', '63.0', '60.0', '64.4', '62.9', '64.2', '67.3', '64.1', '68.2', '66.1', '66.9', '', '', '', '57th', 'Morocco', '', '54.1', '54.8', '55.7', '58.4', '57.8', '58.2', '62.0', '59.2', '62.1', '62.5', '', '', '', '111th', 'Mozambique', '', '37.7', '43.0', '42.5', '41.6', '39.8', '36.3', '37.3', '41.7', '37.2', '35.9', '', '', '', '72nd', 'Myanmar', '', '49.8', '49.8', '52.8', '52.3', '53.2', '52.5', '55.1', '55.2', '54.0', '56.7', '', '', '', '79th', 'Nepal', '', '46.7', '47.1', '50.3', '49.7', '50.7', '52.4', '54.9', '55.3', '54.8', '53.7', '', '', '', '6th', 'Netherlands', '', '77.5', '77.7', '76.9', '78.5', '79.0', '78.7', '81.0', '81.2', '80.0', '79.9', '', '', '', '16th', 'New Zealand', '', '75.4', '77.2', '77.2', '77.0', '78.2', '78.3', '77.3', '78.2', '77.7', '76.8', '', '', '', '73rd', 'Nicaragua', '', '54.6', '54.5', '55.6', '56.5', '55.8', '58.2', '56.3', '54.8', '53.0', '56.0', '', '', '', '88th', 'Niger', '', '40.4', '40.8', '40.4', '43.3', '46.4', '44.8', '48.3', '49.8', '49.9', '47.6', '', '', '', '97th', 'Nigeria', '', '39.0', '41.1', '39.5', '40.9', '42.4', '41.9', '40.5', '42.6', '41.2', '41.3', '', '', '', '20th', 'Norway', '', '79.4', '80.5', '80.2', '80.3', '79.9', '79.3', '80.5', '79.7', '78.5', '76.0', '', '', '', '40th', 'Oman', '', '58.1', '59.1', '66.0', '66.1', '68.9', '70.3', '70.9', '69.9', '70.5', '70.0', '', '', '', '75th', 'Pakistan', '', '45.7', '47.5', '48.0', '51.1', '53.8', '55.0', '57.5', '58.2', '55.7', '54.7', '', '', '', '=36th', 'Panama', '', '62.5', '64.9', '64.7', '65.5', '66.2', '71.2', '69.3', '72.1', '72.8', '70.9', '', '', '', '59th', 'Paraguay', '', '53.1', '56.2', '56.3', '53.9', '58.2', '58.6', '58.2', '58.4', '60.4', '61.6', '', '', '', '=49th', 'Peru', '', '59.8', '61.8', '62.7', '65.5', '65.1', '65.4', '65.7', '68.4', '66.2', '64.6', '', '', '', '64th', 'Philippines', '', '52.9', '53.1', '54.2', '56.1', '57.4', '55.7', '57.7', '60.1', '61.0', '60.0', '', '', '', '22nd', 'Poland', '', '70.5', '72.7', '74.6', '74.1', '74.5', '74.6', '74.4', '76.9', '75.2', '74.9', '', '', '', '21st', 'Portugal', '', '76.7', '75.7', '74.8', '76.1', '76.9', '76.2', '77.4', '76.6', '76.5', '75.2', '', '', '', '=24th', 'Qatar', '', '66.2', '69.2', '72.4', '72.5', '72.0', '74.5', '73.1', '74.8', '73.7', '73.6', '', '', '', '29th', 'Romania', '', '66.2', '67.3', '69.2', '70.3', '71.2', '71.3', '69.9', '71.9', '73.8', '72.4', '', '', '', '23rd', 'Russia', '', '65.4', '66.5', '65.9', '65.6', '63.5', '69.8', '72.6', '73.4', '73.9', '74.8', '', '', '', '101st', 'Rwanda', '', '43.6', '39.9', '42.5', '44.2', '42.6', '37.4', '38.8', '43.7', '45.2', '40.3', '', '', '', '44th', 'Saudi Arabia', '', '63.6', '65.7', '66.6', '68.6', '67.6', '69.3', '70.2', '68.7', '71.5', '68.1', '', '', '', '89th', 'Senegal', '', '41.4', '42.6', '45.9', '48.1', '48.7', '46.7', '48.5', '48.1', '45.5', '47.4', '', '', '', '60th', 'Serbia', '', '56.8', '57.9', '61.1', '63.9', '60.6', '62.2', '60.6', '61.3', '61.2', '61.4', '', '', '', '104th', 'Sierra Leone', '', '33.8', '35.2', '41.7', '43.1', '40.7', '38.0', '33.9', '36.6', '39.8', '38.1', '', '', '', '15th', 'Singapore', '', '72.3', '73.9', '76.1', '75.9', '75.8', '76.3', '76.1', '78.4', '78.3', '77.4', '', '', '', '42nd', 'Slovakia', '', '67.5', '69.0', '68.5', '71.1', '71.7', '71.4', '68.5', '68.6', '68.1', '68.7', '', '', '', '70th', 'South Africa', '', '55.8', '56.3', '56.8', '59.5', '63.4', '60.0', '61.6', '59.4', '58.0', '57.8', '', '', '', '=32nd', 'South Korea', '', '67.5', '68.9', '70.1', '70.4', '72.2', '72.8', '73.1', '72.3', '73.4', '71.6', '', '', '', '=24th', 'Spain', '', '73.8', '74.7', '74.2', '74.9', '75.2', '74.1', '74.8', '74.3', '74.8', '73.6', '', '', '', '77th', 'Sri Lanka', '', '53.1', '55.3', '53.9', '55.5', '57.5', '59.3', '56.9', '59.3', '57.1', '54.1', '', '', '', '110th', 'Sudan', '', '34.7', '33.4', '36.0', '36.8', '39.1', '40.7', '38.9', '39.3', '36.4', '37.1', '', '', '', '13th', 'Sweden', '', '77.3', '77.9', '78.0', '79.5', '80.3', '82.1', '80.8', '80.5', '78.3', '77.9', '', '', '', '5th', 'Switzerland', '', '78.9', '78.9', '78.5', '77.7', '78.8', '78.3', '81.1', '79.7', '80.2', '80.4', '', '', '', '=106th', 'Syria', '', '41.2', '38.1', '43.0', '42.8', '42.5', '39.3', '40.3', '45.4', '39.5', '37.8', '', '', '', '83rd', 'Tajikistan', '', '44.2', '48.0', '47.4', '46.0', '48.3', '50.3', '50.2', '54.8', '52.5', '51.6', '', '', '', '=86th', 'Tanzania', '', '34.7', '36.3', '40.0', '38.8', '44.5', '45.6', '43.1', '45.3', '47.7', '48.0', '', '', '', '51st', 'Thailand', '', '59.7', '62.5', '63.7', '63.5', '64.7', '63.5', '63.7', '63.8', '63.6', '64.5', '', '', '', '94th', 'Togo', '', '39.0', '39.6', '42.0', '43.8', '38.4', '45.4', '44.3', '46.2', '45.7', '44.2', '', '', '', '55th', 'Tunisia', '', '60.0', '57.7', '58.4', '59.2', '59.8', '63.2', '62.2', '61.8', '60.2', '62.7', '', '', '', '48th', 'Turkey', '', '64.0', '63.5', '65.0', '64.0', '64.5', '65.9', '64.0', '63.5', '61.2', '65.1', '', '', '', '95th', 'Uganda', '', '40.3', '42.3', '46.7', '47.9', '46.5', '46.3', '40.8', '43.7', '43.2', '43.9', '', '', '', '58th', 'Ukraine', '', '57.8', '56.1', '58.2', '54.9', '50.7', '54.1', '53.2', '56.3', '58.8', '62.0', '', '', '', '35th', 'United Arab Emirates', '', '61.4', '60.3', '61.5', '63.8', '63.1', '65.8', '70.1', '70.1', '71.4', '71.0', '', '', '', '3rd', 'United Kingdom', '', '74.9', '76.7', '77.3', '80.2', '79.7', '80.1', '79.3', '80.6', '80.6', '81.0', '', '', '', '=9th', 'United States', '', '77.8', '77.9', '80.0', '77.7', '79.8', '80.0', '79.5', '79.3', '80.0', '79.1', '', '', '', '45th', 'Uruguay', '', '62.0', '66.3', '66.2', '66.1', '67.4', '68.2', '73.4', '72.7', '72.7', '68.0', '', '', '', '78th', 'Uzbekistan', '', '53.3', '54.7', '53.1', '55.5', '58.6', '60.2', '55.0', '54.5', '54.1', '53.8', '', '', '', '102nd', 'Venezuela', '', '49.3', '49.1', '48.3', '47.8', '49.8', '46.2', '45.8', '41.7', '40.5', '39.4', '', '', '', '61st', 'Vietnam', '', '53.9', '58.9', '62.1', '62.2', '63.0', '59.6', '62.9', '62.3', '62.7', '61.1', '', '', '', '112th', 'Yemen', '', '35.7', '35.2', '34.9', '40.2', '36.4', '36.0', '34.7', '35.2', '35.2', '35.7', '', '', '', '105th', 'Zambia', '', '38.2', '41.4', '40.5', '40.1', '42.3', '38.0', '41.9', '41.1', '38.9', '38.0', '', '', '', '']

In [8]:
#We have split the contents of the string, now we are going to remove unnecessary content

temp_list =[] #Empty list that will later store the content 

for i in temp1: #For loop to iterate through our list
    if(i!=''):   #To remove spaces 
        if(i!="Last 10 Year change"):  #To remove this string
            temp_list.append(i)        #Only appending the required content

In [9]:
#Now checking the result again
print(temp_list)

['Global ranking', 'Country', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '54th', 'Algeria', '53.2', '51.3', '57.4', '58.2', '62.9', '63.5', '63.3', '63.7', '61.6', '63.9', '98th', 'Angola', '40.1', '40.9', '38.5', '40.2', '38.4', '38.1', '39.1', '40.6', '41.7', '41.1', '53rd', 'Argentina', '61.0', '61.2', '61.5', '59.1', '64.2', '65.6', '66.9', '63.1', '63.1', '64.2', '=32nd', 'Australia', '70.9', '74.4', '76.5', '75.9', '77.1', '76.1', '78.1', '75.9', '73.9', '71.6', '2nd', 'Austria', '79.6', '79.0', '79.0', '79.9', '79.6', '79.2', '78.7', '79.2', '80.1', '81.3', '56th', 'Azerbaijan', '57.5', '61.2', '62.8', '64.5', '61.6', '58.9', '58.8', '61.9', '61.5', '62.6', '43rd', 'Bahrain', '63.2', '64.9', '67.1', '65.4', '65.8', '67.1', '67.8', '68.2', '68.4', '68.5', '84th', 'Bangladesh', '44.4', '47.7', '49.1', '50.2', '51.0', '53.4', '53.0', '50.8', '50.5', '49.1', '=36th', 'Belarus', '64.0', '64.6', '67.5', '64.0', '67.9', '66.3', '71.5', '73.5', '70.4', '70.9', '19th', 'Belgium', '76.1', '76.4', '77.1', '77.9', '77.5', '78.3', '78.1', '76.9', '76.9', '76.1', '93rd', 'Benin', '39.9', '40.3', '41.8', '45.2', '45.8', '46.4', '45.4', '45.4', '46.1', '45.2', '65th', 'Bolivia', '53.1', '58.2', '58.5', '61.2', '62.1', '61.0', '61.2', '60.3', '59.0', '59.9', '74th', 'Botswana', '53.7', '53.8', '53.4', '53.4', '54.0', '53.7', '54.7', '56.1', '56.1', '55.5', '63rd', 'Brazil', '65.4', '66.5', '65.4', '68.4', '68.8', '67.7', '70.7', '66.7', '62.8', '60.6', '38th', 'Bulgaria', '63.1', '63.9', '63.7', '66.8', '67.3', '67.7', '66.0', '66.9', '68.7', '70.5', '85th', 'Burkina Faso', '40.4', '42.7', '43.1', '44.1', '43.9', '46.3', '48.1', '49.5', '46.8', '48.1', '113th', 'Burundi', '39.2', '38.7', '38.8', '41.4', '42.7', '41.5', '31.1', '37.2', '38.0', '34.7', '81st', 'Cambodia', '43.8', '46.4', '48.3', '50.5', '51.1', '51.6', '53.1', '54.0', '51.3', '53.0', '92nd', 'Cameroon', '44.2', '41.4', '42.1', '46.4', '45.4', '45.2', '46.2', '44.4', '43.9', '45.5', '7th', 'Canada', '73.7', '74.4', '74.7', '73.1', '73.3', '73.6', '75.6', '77.8', '78.0', '79.8', '99th', 'Chad', '33.2', '32.3', '35.9', '39.0', '39.2', '39.9', '40.2', '43.8', '41.7', '40.6', '28th', 'Chile', '67.8', '67.8', '69.8', '68.1', '67.7', '70.8', '73.4', '73.3', '72.1', '73.2', '34th', 'China', '61.7', '68.2', '69.6', '72.1', '72.5', '70.9', '72.6', '74.4', '70.9', '71.3', '52nd', 'Colombia', '63.2', '61.1', '65.7', '67.4', '64.7', '63.5', '67.5', '67.4', '60.5', '64.4', '103rd', 'Congo (Dem. Rep.)', '32.3', '34.8', '34.6', '35.1', '34.3', '35.4', '32.8', '38.0', '38.1', '39.1', '=24th', 'Costa Rica', '69.5', '72.1', '71.0', '70.4', '71.2', '69.6', '72.5', '70.8', '71.4', '73.6', '=86th', "Côte d'Ivoire", '43.8', '44.3', '43.8', '47.1', '44.4', '46.8', '49.7', '50.3', '50.4', '48.0', '14th', 'Czech Republic', '74.9', '74.3', '74.5', '75.6', '79.7', '78.8', '77.6', '79.4', '78.8', '77.8', '17th', 'Denmark', '76.5', '77.1', '78.2', '78.5', '77.7', '78.4', '77.8', '78.0', '76.7', '76.5', '47th', 'Dominican Republic', '61.7', '60.0', '59.8', '63.8', '65.1', '63.1', '65.8', '65.6', '66.2', '65.4', '66th', 'Ecuador', '56.3', '54.5', '58.5', '57.2', '57.7', '60.6', '60.2', '60.8', '58.9', '59.6', '62nd', 'Egypt', '58.9', '58.5', '59.5', '62.4', '59.8', '58.0', '57.0', '61.3', '59.8', '60.8', '67th', 'El Salvador', '57.7', '60.3', '59.7', '60.8', '57.2', '57.5', '58.8', '58.9', '57.8', '59.5', '108th', 'Ethiopia', '33.7', '35.4', '41.6', '42.1', '41.9', '44.5', '41.3', '41.5', '36.7', '37.6', '4th', 'Finland', '80.6', '79.6', '80.2', '81.9', '84.1', '84.1', '83.9', '84.5', '85.2', '80.9', '=9th', 'France', '79.1', '78.7', '79.0', '79.7', '78.6', '80.7', '79.6', '78.5', '78.4', '79.1', '11th', 'Germany', '77.6', '77.6', '77.1', '78.6', '80.1', '80.4', '79.4', '79.7', '79.6', '78.7', '82nd', 'Ghana', '48.8', '50.4', '50.5', '51.9', '50.7', '52.8', '53.5', '52.9', '52.8', '52.0', '27th', 'Greece', '71.0', '72.0', '75.1', '76.6', '75.4', '75.9', '75.5', '74.6', '74.1', '73.3', '80th', 'Guatemala', '52.3', '53.3', '56.1', '56.1', '58.2', '58.0', '57.9', '55.5', '55.1', '53.5', '96th', 'Guinea', '34.7', '36.0', '39.8', '41.6', '38.5', '40.0', '40.4', '40.6', '42.8', '43.0', '=106th', 'Haiti', '38.7', '40.0', '41.4', '42.7', '41.2', '39.4', '38.7', '35.8', '35.7', '37.8', '68th', 'Honduras', '54.3', '56.8', '58.7', '56.7', '57.3', '56.6', '60.2', '59.7', '58.1', '59.4', '31st', 'Hungary', '68.2', '67.9', '68.9', '71.7', '72.5', '72.5', '70.6', '71.3', '72.0', '72.1', '71st', 'India', '54.5', '54.7', '53.3', '56.0', '58.4', '58.9', '59.9', '59.8', '58.6', '57.2', '69th', 'Indonesia', '52.5', '54.2', '54.7', '55.6', '55.8', '57.1', '62.4', '60.4', '61.4', '59.2', '1st', 'Ireland', '80.0', '80.6', '80.4', '80.9', '82.6', '83.7', '84.8', '84.7', '84.5', '84.0', '12th', 'Israel', '72.6', '73.5', '73.4', '76.4', '77.5', '76.3', '78.6', '78.2', '78.1', '78.0', '18th', 'Italy', '76.4', '75.9', '77.2', '77.6', '77.3', '76.9', '76.1', '76.1', '76.5', '76.4', '8th', 'Japan', '77.1', '78.1', '78.2', '78.6', '79.0', '79.8', '79.8', '79.8', '80.3', '79.3', '=49th', 'Jordan', '65.0', '64.7', '61.9', '64.2', '64.3', '64.6', '64.2', '63.4', '64.9', '64.6', '41st', 'Kazakhstan', '61.5', '60.4', '63.2', '63.1', '64.4', '63.6', '65.1', '69.9', '71.9', '69.2', '90th', 'Kenya', '38.3', '40.5', '43.4', '43.6', '43.2', '45.9', '45.3', '48.6', '46.7', '46.8', '30th', 'Kuwait', '68.9', '70.5', '70.5', '67.6', '66.3', '68.0', '69.7', '71.3', '72.9', '72.2', '91st', 'Laos', '41.5', '45.4', '44.6', '48.4', '48.9', '50.7', '52.5', '49.5', '51.0', '46.4', '100th', 'Madagascar', '36.7', '38.3', '38.6', '38.7', '39.0', '36.8', '35.9', '35.1', '38.0', '40.4', '109th', 'Malawi', '39.5', '33.9', '35.3', '36.9', '36.3', '35.4', '39.5', '40.0', '39.1', '37.3', '39th', 'Malaysia', '65.5', '66.8', '69.2', '68.6', '65.0', '64.2', '64.1', '66.8', '65.0', '70.1', '76th', 'Mali', '46.6', '48.7', '49.9', '50.4', '48.5', '49.9', '52.7', '53.1', '52.7', '54.5', '46th', 'Mexico', '63.0', '60.0', '64.4', '62.9', '64.2', '67.3', '64.1', '68.2', '66.1', '66.9', '57th', 'Morocco', '54.1', '54.8', '55.7', '58.4', '57.8', '58.2', '62.0', '59.2', '62.1', '62.5', '111th', 'Mozambique', '37.7', '43.0', '42.5', '41.6', '39.8', '36.3', '37.3', '41.7', '37.2', '35.9', '72nd', 'Myanmar', '49.8', '49.8', '52.8', '52.3', '53.2', '52.5', '55.1', '55.2', '54.0', '56.7', '79th', 'Nepal', '46.7', '47.1', '50.3', '49.7', '50.7', '52.4', '54.9', '55.3', '54.8', '53.7', '6th', 'Netherlands', '77.5', '77.7', '76.9', '78.5', '79.0', '78.7', '81.0', '81.2', '80.0', '79.9', '16th', 'New Zealand', '75.4', '77.2', '77.2', '77.0', '78.2', '78.3', '77.3', '78.2', '77.7', '76.8', '73rd', 'Nicaragua', '54.6', '54.5', '55.6', '56.5', '55.8', '58.2', '56.3', '54.8', '53.0', '56.0', '88th', 'Niger', '40.4', '40.8', '40.4', '43.3', '46.4', '44.8', '48.3', '49.8', '49.9', '47.6', '97th', 'Nigeria', '39.0', '41.1', '39.5', '40.9', '42.4', '41.9', '40.5', '42.6', '41.2', '41.3', '20th', 'Norway', '79.4', '80.5', '80.2', '80.3', '79.9', '79.3', '80.5', '79.7', '78.5', '76.0', '40th', 'Oman', '58.1', '59.1', '66.0', '66.1', '68.9', '70.3', '70.9', '69.9', '70.5', '70.0', '75th', 'Pakistan', '45.7', '47.5', '48.0', '51.1', '53.8', '55.0', '57.5', '58.2', '55.7', '54.7', '=36th', 'Panama', '62.5', '64.9', '64.7', '65.5', '66.2', '71.2', '69.3', '72.1', '72.8', '70.9', '59th', 'Paraguay', '53.1', '56.2', '56.3', '53.9', '58.2', '58.6', '58.2', '58.4', '60.4', '61.6', '=49th', 'Peru', '59.8', '61.8', '62.7', '65.5', '65.1', '65.4', '65.7', '68.4', '66.2', '64.6', '64th', 'Philippines', '52.9', '53.1', '54.2', '56.1', '57.4', '55.7', '57.7', '60.1', '61.0', '60.0', '22nd', 'Poland', '70.5', '72.7', '74.6', '74.1', '74.5', '74.6', '74.4', '76.9', '75.2', '74.9', '21st', 'Portugal', '76.7', '75.7', '74.8', '76.1', '76.9', '76.2', '77.4', '76.6', '76.5', '75.2', '=24th', 'Qatar', '66.2', '69.2', '72.4', '72.5', '72.0', '74.5', '73.1', '74.8', '73.7', '73.6', '29th', 'Romania', '66.2', '67.3', '69.2', '70.3', '71.2', '71.3', '69.9', '71.9', '73.8', '72.4', '23rd', 'Russia', '65.4', '66.5', '65.9', '65.6', '63.5', '69.8', '72.6', '73.4', '73.9', '74.8', '101st', 'Rwanda', '43.6', '39.9', '42.5', '44.2', '42.6', '37.4', '38.8', '43.7', '45.2', '40.3', '44th', 'Saudi Arabia', '63.6', '65.7', '66.6', '68.6', '67.6', '69.3', '70.2', '68.7', '71.5', '68.1', '89th', 'Senegal', '41.4', '42.6', '45.9', '48.1', '48.7', '46.7', '48.5', '48.1', '45.5', '47.4', '60th', 'Serbia', '56.8', '57.9', '61.1', '63.9', '60.6', '62.2', '60.6', '61.3', '61.2', '61.4', '104th', 'Sierra Leone', '33.8', '35.2', '41.7', '43.1', '40.7', '38.0', '33.9', '36.6', '39.8', '38.1', '15th', 'Singapore', '72.3', '73.9', '76.1', '75.9', '75.8', '76.3', '76.1', '78.4', '78.3', '77.4', '42nd', 'Slovakia', '67.5', '69.0', '68.5', '71.1', '71.7', '71.4', '68.5', '68.6', '68.1', '68.7', '70th', 'South Africa', '55.8', '56.3', '56.8', '59.5', '63.4', '60.0', '61.6', '59.4', '58.0', '57.8', '=32nd', 'South Korea', '67.5', '68.9', '70.1', '70.4', '72.2', '72.8', '73.1', '72.3', '73.4', '71.6', '=24th', 'Spain', '73.8', '74.7', '74.2', '74.9', '75.2', '74.1', '74.8', '74.3', '74.8', '73.6', '77th', 'Sri Lanka', '53.1', '55.3', '53.9', '55.5', '57.5', '59.3', '56.9', '59.3', '57.1', '54.1', '110th', 'Sudan', '34.7', '33.4', '36.0', '36.8', '39.1', '40.7', '38.9', '39.3', '36.4', '37.1', '13th', 'Sweden', '77.3', '77.9', '78.0', '79.5', '80.3', '82.1', '80.8', '80.5', '78.3', '77.9', '5th', 'Switzerland', '78.9', '78.9', '78.5', '77.7', '78.8', '78.3', '81.1', '79.7', '80.2', '80.4', '=106th', 'Syria', '41.2', '38.1', '43.0', '42.8', '42.5', '39.3', '40.3', '45.4', '39.5', '37.8', '83rd', 'Tajikistan', '44.2', '48.0', '47.4', '46.0', '48.3', '50.3', '50.2', '54.8', '52.5', '51.6', '=86th', 'Tanzania', '34.7', '36.3', '40.0', '38.8', '44.5', '45.6', '43.1', '45.3', '47.7', '48.0', '51st', 'Thailand', '59.7', '62.5', '63.7', '63.5', '64.7', '63.5', '63.7', '63.8', '63.6', '64.5', '94th', 'Togo', '39.0', '39.6', '42.0', '43.8', '38.4', '45.4', '44.3', '46.2', '45.7', '44.2', '55th', 'Tunisia', '60.0', '57.7', '58.4', '59.2', '59.8', '63.2', '62.2', '61.8', '60.2', '62.7', '48th', 'Turkey', '64.0', '63.5', '65.0', '64.0', '64.5', '65.9', '64.0', '63.5', '61.2', '65.1', '95th', 'Uganda', '40.3', '42.3', '46.7', '47.9', '46.5', '46.3', '40.8', '43.7', '43.2', '43.9', '58th', 'Ukraine', '57.8', '56.1', '58.2', '54.9', '50.7', '54.1', '53.2', '56.3', '58.8', '62.0', '35th', 'United Arab Emirates', '61.4', '60.3', '61.5', '63.8', '63.1', '65.8', '70.1', '70.1', '71.4', '71.0', '3rd', 'United Kingdom', '74.9', '76.7', '77.3', '80.2', '79.7', '80.1', '79.3', '80.6', '80.6', '81.0', '=9th', 'United States', '77.8', '77.9', '80.0', '77.7', '79.8', '80.0', '79.5', '79.3', '80.0', '79.1', '45th', 'Uruguay', '62.0', '66.3', '66.2', '66.1', '67.4', '68.2', '73.4', '72.7', '72.7', '68.0', '78th', 'Uzbekistan', '53.3', '54.7', '53.1', '55.5', '58.6', '60.2', '55.0', '54.5', '54.1', '53.8', '102nd', 'Venezuela', '49.3', '49.1', '48.3', '47.8', '49.8', '46.2', '45.8', '41.7', '40.5', '39.4', '61st', 'Vietnam', '53.9', '58.9', '62.1', '62.2', '63.0', '59.6', '62.9', '62.3', '62.7', '61.1', '112th', 'Yemen', '35.7', '35.2', '34.9', '40.2', '36.4', '36.0', '34.7', '35.2', '35.2', '35.7', '105th', 'Zambia', '38.2', '41.4', '40.5', '40.1', '42.3', '38.0', '41.9', '41.1', '38.9', '38.0']

In [11]:
#Now we have all the required content, so we are going to  store each country's data in a list to obtain a list of lists

count = 0                          #To keep track 
temp_list2 =[]                     #An empty list to use in the loop, which will hold each country's data
final_list =[]                     #This will be the final list of lists


for i in temp_list:               #Loop to iterate through the content
    temp_list2.append(i)          #Appending the content to the empty list created above
    count = count +1              #Incrementing the count variable
    
    if (count%12==0):             #We get information about the next country after 12 observations
        final_list.append(temp_list2)   #So each country's information stored in a list is append to the final list to obtain list of lists
        temp_list2=[]             #Clearing the contents of temp list after append statement

In [12]:
#Checking the result
print(final_list)

[['Global ranking', 'Country', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'], ['54th', 'Algeria', '53.2', '51.3', '57.4', '58.2', '62.9', '63.5', '63.3', '63.7', '61.6', '63.9'], ['98th', 'Angola', '40.1', '40.9', '38.5', '40.2', '38.4', '38.1', '39.1', '40.6', '41.7', '41.1'], ['53rd', 'Argentina', '61.0', '61.2', '61.5', '59.1', '64.2', '65.6', '66.9', '63.1', '63.1', '64.2'], ['=32nd', 'Australia', '70.9', '74.4', '76.5', '75.9', '77.1', '76.1', '78.1', '75.9', '73.9', '71.6'], ['2nd', 'Austria', '79.6', '79.0', '79.0', '79.9', '79.6', '79.2', '78.7', '79.2', '80.1', '81.3'], ['56th', 'Azerbaijan', '57.5', '61.2', '62.8', '64.5', '61.6', '58.9', '58.8', '61.9', '61.5', '62.6'], ['43rd', 'Bahrain', '63.2', '64.9', '67.1', '65.4', '65.8', '67.1', '67.8', '68.2', '68.4', '68.5'], ['84th', 'Bangladesh', '44.4', '47.7', '49.1', '50.2', '51.0', '53.4', '53.0', '50.8', '50.5', '49.1'], ['=36th', 'Belarus', '64.0', '64.6', '67.5', '64.0', '67.9', '66.3', '71.5', '73.5', '70.4', '70.9'], ['19th', 'Belgium', '76.1', '76.4', '77.1', '77.9', '77.5', '78.3', '78.1', '76.9', '76.9', '76.1'], ['93rd', 'Benin', '39.9', '40.3', '41.8', '45.2', '45.8', '46.4', '45.4', '45.4', '46.1', '45.2'], ['65th', 'Bolivia', '53.1', '58.2', '58.5', '61.2', '62.1', '61.0', '61.2', '60.3', '59.0', '59.9'], ['74th', 'Botswana', '53.7', '53.8', '53.4', '53.4', '54.0', '53.7', '54.7', '56.1', '56.1', '55.5'], ['63rd', 'Brazil', '65.4', '66.5', '65.4', '68.4', '68.8', '67.7', '70.7', '66.7', '62.8', '60.6'], ['38th', 'Bulgaria', '63.1', '63.9', '63.7', '66.8', '67.3', '67.7', '66.0', '66.9', '68.7', '70.5'], ['85th', 'Burkina Faso', '40.4', '42.7', '43.1', '44.1', '43.9', '46.3', '48.1', '49.5', '46.8', '48.1'], ['113th', 'Burundi', '39.2', '38.7', '38.8', '41.4', '42.7', '41.5', '31.1', '37.2', '38.0', '34.7'], ['81st', 'Cambodia', '43.8', '46.4', '48.3', '50.5', '51.1', '51.6', '53.1', '54.0', '51.3', '53.0'], ['92nd', 'Cameroon', '44.2', '41.4', '42.1', '46.4', '45.4', '45.2', '46.2', '44.4', '43.9', '45.5'], ['7th', 'Canada', '73.7', '74.4', '74.7', '73.1', '73.3', '73.6', '75.6', '77.8', '78.0', '79.8'], ['99th', 'Chad', '33.2', '32.3', '35.9', '39.0', '39.2', '39.9', '40.2', '43.8', '41.7', '40.6'], ['28th', 'Chile', '67.8', '67.8', '69.8', '68.1', '67.7', '70.8', '73.4', '73.3', '72.1', '73.2'], ['34th', 'China', '61.7', '68.2', '69.6', '72.1', '72.5', '70.9', '72.6', '74.4', '70.9', '71.3'], ['52nd', 'Colombia', '63.2', '61.1', '65.7', '67.4', '64.7', '63.5', '67.5', '67.4', '60.5', '64.4'], ['103rd', 'Congo (Dem. Rep.)', '32.3', '34.8', '34.6', '35.1', '34.3', '35.4', '32.8', '38.0', '38.1', '39.1'], ['=24th', 'Costa Rica', '69.5', '72.1', '71.0', '70.4', '71.2', '69.6', '72.5', '70.8', '71.4', '73.6'], ['=86th', "Côte d'Ivoire", '43.8', '44.3', '43.8', '47.1', '44.4', '46.8', '49.7', '50.3', '50.4', '48.0'], ['14th', 'Czech Republic', '74.9', '74.3', '74.5', '75.6', '79.7', '78.8', '77.6', '79.4', '78.8', '77.8'], ['17th', 'Denmark', '76.5', '77.1', '78.2', '78.5', '77.7', '78.4', '77.8', '78.0', '76.7', '76.5'], ['47th', 'Dominican Republic', '61.7', '60.0', '59.8', '63.8', '65.1', '63.1', '65.8', '65.6', '66.2', '65.4'], ['66th', 'Ecuador', '56.3', '54.5', '58.5', '57.2', '57.7', '60.6', '60.2', '60.8', '58.9', '59.6'], ['62nd', 'Egypt', '58.9', '58.5', '59.5', '62.4', '59.8', '58.0', '57.0', '61.3', '59.8', '60.8'], ['67th', 'El Salvador', '57.7', '60.3', '59.7', '60.8', '57.2', '57.5', '58.8', '58.9', '57.8', '59.5'], ['108th', 'Ethiopia', '33.7', '35.4', '41.6', '42.1', '41.9', '44.5', '41.3', '41.5', '36.7', '37.6'], ['4th', 'Finland', '80.6', '79.6', '80.2', '81.9', '84.1', '84.1', '83.9', '84.5', '85.2', '80.9'], ['=9th', 'France', '79.1', '78.7', '79.0', '79.7', '78.6', '80.7', '79.6', '78.5', '78.4', '79.1'], ['11th', 'Germany', '77.6', '77.6', '77.1', '78.6', '80.1', '80.4', '79.4', '79.7', '79.6', '78.7'], ['82nd', 'Ghana', '48.8', '50.4', '50.5', '51.9', '50.7', '52.8', '53.5', '52.9', '52.8', '52.0'], ['27th', 'Greece', '71.0', '72.0', '75.1', '76.6', '75.4', '75.9', '75.5', '74.6', '74.1', '73.3'], ['80th', 'Guatemala', '52.3', '53.3', '56.1', '56.1', '58.2', '58.0', '57.9', '55.5', '55.1', '53.5'], ['96th', 'Guinea', '34.7', '36.0', '39.8', '41.6', '38.5', '40.0', '40.4', '40.6', '42.8', '43.0'], ['=106th', 'Haiti', '38.7', '40.0', '41.4', '42.7', '41.2', '39.4', '38.7', '35.8', '35.7', '37.8'], ['68th', 'Honduras', '54.3', '56.8', '58.7', '56.7', '57.3', '56.6', '60.2', '59.7', '58.1', '59.4'], ['31st', 'Hungary', '68.2', '67.9', '68.9', '71.7', '72.5', '72.5', '70.6', '71.3', '72.0', '72.1'], ['71st', 'India', '54.5', '54.7', '53.3', '56.0', '58.4', '58.9', '59.9', '59.8', '58.6', '57.2'], ['69th', 'Indonesia', '52.5', '54.2', '54.7', '55.6', '55.8', '57.1', '62.4', '60.4', '61.4', '59.2'], ['1st', 'Ireland', '80.0', '80.6', '80.4', '80.9', '82.6', '83.7', '84.8', '84.7', '84.5', '84.0'], ['12th', 'Israel', '72.6', '73.5', '73.4', '76.4', '77.5', '76.3', '78.6', '78.2', '78.1', '78.0'], ['18th', 'Italy', '76.4', '75.9', '77.2', '77.6', '77.3', '76.9', '76.1', '76.1', '76.5', '76.4'], ['8th', 'Japan', '77.1', '78.1', '78.2', '78.6', '79.0', '79.8', '79.8', '79.8', '80.3', '79.3'], ['=49th', 'Jordan', '65.0', '64.7', '61.9', '64.2', '64.3', '64.6', '64.2', '63.4', '64.9', '64.6'], ['41st', 'Kazakhstan', '61.5', '60.4', '63.2', '63.1', '64.4', '63.6', '65.1', '69.9', '71.9', '69.2'], ['90th', 'Kenya', '38.3', '40.5', '43.4', '43.6', '43.2', '45.9', '45.3', '48.6', '46.7', '46.8'], ['30th', 'Kuwait', '68.9', '70.5', '70.5', '67.6', '66.3', '68.0', '69.7', '71.3', '72.9', '72.2'], ['91st', 'Laos', '41.5', '45.4', '44.6', '48.4', '48.9', '50.7', '52.5', '49.5', '51.0', '46.4'], ['100th', 'Madagascar', '36.7', '38.3', '38.6', '38.7', '39.0', '36.8', '35.9', '35.1', '38.0', '40.4'], ['109th', 'Malawi', '39.5', '33.9', '35.3', '36.9', '36.3', '35.4', '39.5', '40.0', '39.1', '37.3'], ['39th', 'Malaysia', '65.5', '66.8', '69.2', '68.6', '65.0', '64.2', '64.1', '66.8', '65.0', '70.1'], ['76th', 'Mali', '46.6', '48.7', '49.9', '50.4', '48.5', '49.9', '52.7', '53.1', '52.7', '54.5'], ['46th', 'Mexico', '63.0', '60.0', '64.4', '62.9', '64.2', '67.3', '64.1', '68.2', '66.1', '66.9'], ['57th', 'Morocco', '54.1', '54.8', '55.7', '58.4', '57.8', '58.2', '62.0', '59.2', '62.1', '62.5'], ['111th', 'Mozambique', '37.7', '43.0', '42.5', '41.6', '39.8', '36.3', '37.3', '41.7', '37.2', '35.9'], ['72nd', 'Myanmar', '49.8', '49.8', '52.8', '52.3', '53.2', '52.5', '55.1', '55.2', '54.0', '56.7'], ['79th', 'Nepal', '46.7', '47.1', '50.3', '49.7', '50.7', '52.4', '54.9', '55.3', '54.8', '53.7'], ['6th', 'Netherlands', '77.5', '77.7', '76.9', '78.5', '79.0', '78.7', '81.0', '81.2', '80.0', '79.9'], ['16th', 'New Zealand', '75.4', '77.2', '77.2', '77.0', '78.2', '78.3', '77.3', '78.2', '77.7', '76.8'], ['73rd', 'Nicaragua', '54.6', '54.5', '55.6', '56.5', '55.8', '58.2', '56.3', '54.8', '53.0', '56.0'], ['88th', 'Niger', '40.4', '40.8', '40.4', '43.3', '46.4', '44.8', '48.3', '49.8', '49.9', '47.6'], ['97th', 'Nigeria', '39.0', '41.1', '39.5', '40.9', '42.4', '41.9', '40.5', '42.6', '41.2', '41.3'], ['20th', 'Norway', '79.4', '80.5', '80.2', '80.3', '79.9', '79.3', '80.5', '79.7', '78.5', '76.0'], ['40th', 'Oman', '58.1', '59.1', '66.0', '66.1', '68.9', '70.3', '70.9', '69.9', '70.5', '70.0'], ['75th', 'Pakistan', '45.7', '47.5', '48.0', '51.1', '53.8', '55.0', '57.5', '58.2', '55.7', '54.7'], ['=36th', 'Panama', '62.5', '64.9', '64.7', '65.5', '66.2', '71.2', '69.3', '72.1', '72.8', '70.9'], ['59th', 'Paraguay', '53.1', '56.2', '56.3', '53.9', '58.2', '58.6', '58.2', '58.4', '60.4', '61.6'], ['=49th', 'Peru', '59.8', '61.8', '62.7', '65.5', '65.1', '65.4', '65.7', '68.4', '66.2', '64.6'], ['64th', 'Philippines', '52.9', '53.1', '54.2', '56.1', '57.4', '55.7', '57.7', '60.1', '61.0', '60.0'], ['22nd', 'Poland', '70.5', '72.7', '74.6', '74.1', '74.5', '74.6', '74.4', '76.9', '75.2', '74.9'], ['21st', 'Portugal', '76.7', '75.7', '74.8', '76.1', '76.9', '76.2', '77.4', '76.6', '76.5', '75.2'], ['=24th', 'Qatar', '66.2', '69.2', '72.4', '72.5', '72.0', '74.5', '73.1', '74.8', '73.7', '73.6'], ['29th', 'Romania', '66.2', '67.3', '69.2', '70.3', '71.2', '71.3', '69.9', '71.9', '73.8', '72.4'], ['23rd', 'Russia', '65.4', '66.5', '65.9', '65.6', '63.5', '69.8', '72.6', '73.4', '73.9', '74.8'], ['101st', 'Rwanda', '43.6', '39.9', '42.5', '44.2', '42.6', '37.4', '38.8', '43.7', '45.2', '40.3'], ['44th', 'Saudi Arabia', '63.6', '65.7', '66.6', '68.6', '67.6', '69.3', '70.2', '68.7', '71.5', '68.1'], ['89th', 'Senegal', '41.4', '42.6', '45.9', '48.1', '48.7', '46.7', '48.5', '48.1', '45.5', '47.4'], ['60th', 'Serbia', '56.8', '57.9', '61.1', '63.9', '60.6', '62.2', '60.6', '61.3', '61.2', '61.4'], ['104th', 'Sierra Leone', '33.8', '35.2', '41.7', '43.1', '40.7', '38.0', '33.9', '36.6', '39.8', '38.1'], ['15th', 'Singapore', '72.3', '73.9', '76.1', '75.9', '75.8', '76.3', '76.1', '78.4', '78.3', '77.4'], ['42nd', 'Slovakia', '67.5', '69.0', '68.5', '71.1', '71.7', '71.4', '68.5', '68.6', '68.1', '68.7'], ['70th', 'South Africa', '55.8', '56.3', '56.8', '59.5', '63.4', '60.0', '61.6', '59.4', '58.0', '57.8'], ['=32nd', 'South Korea', '67.5', '68.9', '70.1', '70.4', '72.2', '72.8', '73.1', '72.3', '73.4', '71.6'], ['=24th', 'Spain', '73.8', '74.7', '74.2', '74.9', '75.2', '74.1', '74.8', '74.3', '74.8', '73.6'], ['77th', 'Sri Lanka', '53.1', '55.3', '53.9', '55.5', '57.5', '59.3', '56.9', '59.3', '57.1', '54.1'], ['110th', 'Sudan', '34.7', '33.4', '36.0', '36.8', '39.1', '40.7', '38.9', '39.3', '36.4', '37.1'], ['13th', 'Sweden', '77.3', '77.9', '78.0', '79.5', '80.3', '82.1', '80.8', '80.5', '78.3', '77.9'], ['5th', 'Switzerland', '78.9', '78.9', '78.5', '77.7', '78.8', '78.3', '81.1', '79.7', '80.2', '80.4'], ['=106th', 'Syria', '41.2', '38.1', '43.0', '42.8', '42.5', '39.3', '40.3', '45.4', '39.5', '37.8'], ['83rd', 'Tajikistan', '44.2', '48.0', '47.4', '46.0', '48.3', '50.3', '50.2', '54.8', '52.5', '51.6'], ['=86th', 'Tanzania', '34.7', '36.3', '40.0', '38.8', '44.5', '45.6', '43.1', '45.3', '47.7', '48.0'], ['51st', 'Thailand', '59.7', '62.5', '63.7', '63.5', '64.7', '63.5', '63.7', '63.8', '63.6', '64.5'], ['94th', 'Togo', '39.0', '39.6', '42.0', '43.8', '38.4', '45.4', '44.3', '46.2', '45.7', '44.2'], ['55th', 'Tunisia', '60.0', '57.7', '58.4', '59.2', '59.8', '63.2', '62.2', '61.8', '60.2', '62.7'], ['48th', 'Turkey', '64.0', '63.5', '65.0', '64.0', '64.5', '65.9', '64.0', '63.5', '61.2', '65.1'], ['95th', 'Uganda', '40.3', '42.3', '46.7', '47.9', '46.5', '46.3', '40.8', '43.7', '43.2', '43.9'], ['58th', 'Ukraine', '57.8', '56.1', '58.2', '54.9', '50.7', '54.1', '53.2', '56.3', '58.8', '62.0'], ['35th', 'United Arab Emirates', '61.4', '60.3', '61.5', '63.8', '63.1', '65.8', '70.1', '70.1', '71.4', '71.0'], ['3rd', 'United Kingdom', '74.9', '76.7', '77.3', '80.2', '79.7', '80.1', '79.3', '80.6', '80.6', '81.0'], ['=9th', 'United States', '77.8', '77.9', '80.0', '77.7', '79.8', '80.0', '79.5', '79.3', '80.0', '79.1'], ['45th', 'Uruguay', '62.0', '66.3', '66.2', '66.1', '67.4', '68.2', '73.4', '72.7', '72.7', '68.0'], ['78th', 'Uzbekistan', '53.3', '54.7', '53.1', '55.5', '58.6', '60.2', '55.0', '54.5', '54.1', '53.8'], ['102nd', 'Venezuela', '49.3', '49.1', '48.3', '47.8', '49.8', '46.2', '45.8', '41.7', '40.5', '39.4'], ['61st', 'Vietnam', '53.9', '58.9', '62.1', '62.2', '63.0', '59.6', '62.9', '62.3', '62.7', '61.1'], ['112th', 'Yemen', '35.7', '35.2', '34.9', '40.2', '36.4', '36.0', '34.7', '35.2', '35.2', '35.7'], ['105th', 'Zambia', '38.2', '41.4', '40.5', '40.1', '42.3', '38.0', '41.9', '41.1', '38.9', '38.0']]

In [13]:
#We have now got a list of lists as desired, now we will convert this to a dataframe
food_insecurity = pd.DataFrame(final_list)

#Checking the dataframe
display(food_insecurity)

,0,1,2,3,4,5,6,7,8,9,10,11
0,Global ranking,Country,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,54th,Algeria,53.2,51.3,57.4,58.2,62.9,63.5,63.3,63.7,61.6,63.9
2,98th,Angola,40.1,40.9,38.5,40.2,38.4,38.1,39.1,40.6,41.7,41.1
3,53rd,Argentina,61.0,61.2,61.5,59.1,64.2,65.6,66.9,63.1,63.1,64.2
4,=32nd,Australia,70.9,74.4,76.5,75.9,77.1,76.1,78.1,75.9,73.9,71.6
...,...,...,...,...,...,...,...,...,...,...,...,...
109,78th,Uzbekistan,53.3,54.7,53.1,55.5,58.6,60.2,55.0,54.5,54.1,53.8
110,102nd,Venezuela,49.3,49.1,48.3,47.8,49.8,46.2,45.8,41.7,40.5,39.4
111,61st,Vietnam,53.9,58.9,62.1,62.2,63.0,59.6,62.9,62.3,62.7,61.1
112,112th,Yemen,35.7,35.2,34.9,40.2,36.4,36.0,34.7,35.2,35.2,35.7
113,105th,Zambia,38.2,41.4,40.5,40.1,42.3,38.0,41.9,41.1,38.9,38.0

In [14]:
#We have now got a dataframe, now we will make the first row as the header of the dataframe 

new_header = food_insecurity.iloc[0] #grab the first row for the header
food_insecurity = food_insecurity[1:] #take the data less the header row
food_insecurity.columns = new_header #set the header row as the df header

In [15]:
#Checking the dataframe
display(food_insecurity)

,Global ranking,Country,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,54th,Algeria,53.2,51.3,57.4,58.2,62.9,63.5,63.3,63.7,61.6,63.9
2,98th,Angola,40.1,40.9,38.5,40.2,38.4,38.1,39.1,40.6,41.7,41.1
3,53rd,Argentina,61.0,61.2,61.5,59.1,64.2,65.6,66.9,63.1,63.1,64.2
4,=32nd,Australia,70.9,74.4,76.5,75.9,77.1,76.1,78.1,75.9,73.9,71.6
5,2nd,Austria,79.6,79.0,79.0,79.9,79.6,79.2,78.7,79.2,80.1,81.3
...,...,...,...,...,...,...,...,...,...,...,...,...
109,78th,Uzbekistan,53.3,54.7,53.1,55.5,58.6,60.2,55.0,54.5,54.1,53.8
110,102nd,Venezuela,49.3,49.1,48.3,47.8,49.8,46.2,45.8,41.7,40.5,39.4
111,61st,Vietnam,53.9,58.9,62.1,62.2,63.0,59.6,62.9,62.3,62.7,61.1
112,112th,Yemen,35.7,35.2,34.9,40.2,36.4,36.0,34.7,35.2,35.2,35.7
113,105th,Zambia,38.2,41.4,40.5,40.1,42.3,38.0,41.9,41.1,38.9,38.0