In [1]:
#Importing required Modules
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
#This the link for climate change index - this is one of the predictor variables of the model
url_ci="https://en.wikipedia.org/wiki/Climate_Change_Performance_Index"

In [3]:
page_ci = requests.get(url_ci)   #Download the web-page
page_ci.status_code              #Check status of download

200

In [4]:
soup_ci = BeautifulSoup(page_ci.content, 'html.parser')  #Parsing

#Obtaining tables
i = soup_ci.findAll('table', {'class':"wikitable"})
print(len(i))

4

In [5]:
#The required table is the last one - so its index is 3 
table_temp = i[3]

#Now, we are reading in the table, and converting it to dataframe
df_temp = pd.read_html(str(table_temp))
df = pd.DataFrame(df_temp[0])
display(df)

    Rank              Country  Score
0      1                    -      -
1      2                    -      -
2      3                    -      -
3      4               Sweden     76
4      5              Morocco  70.48
5      6            Lithuania  70.47
6      7               Latvia  68.31
7      8       United Kingdom  65.92
8      9          Switzerland  65.42
9     10                Malta  65.06
10    11                India  62.93
11    12               Norway  62.80
12    13              Finland  62.61
13    14              Croatia  62.39
14    15              Denmark  61.96
15    16  European Union (28)  60.65
16    17             Portugal  60.54
17    18              Ukraine  60.09
18    19           Luxembourg  59.92
19    20              Romania  59.42
20    21               France  59.30
21    22               Brazil  59.29
22    23                Italy  58.69
23    24                Egypt  57.49
24    25               Mexico  56.82
25    26      Slovak Republic  56.61
26    27              Germany  55.18
27    28          Netherlands  54.11
28    29              Belarus  53.31
29    30               Greece  50.86
30    31              Belgium  50.63
31    32       Czech Republic  49.73
32    33                China  49.60
33    34            Argentina  49.01
34    35                Spain  48.97
35    36              Austria  48.78
36    37             Thailand  48.71
37    38            Indonesia  48.68
38    39         South Africa  48.25
39    40             Bulgaria  48.11
40    41               Poland  47.59
41    42              Hungary  46.79
42    43             Slovenia  44.90
43    44          New Zealand  44.61
44    45              Estonia  44.37
45    46               Cyprus  44.34
46    47              Algeria  42.10
47    48              Ireland  40.84
48    49                Japan  40.63
49    50               Turkey  40.22
50    51             Malaysia  38.08
51    52               Russia  37.59
52    53           Kazakhstan  36.47
53    54               Canada  34.26
54    55            Australia  31.27
55    56       Chinese Taipei  28.80
56    57                Korea  28.53
57    58                 Iran  23.94
58    59        United States  18.82
59    60         Saudi Arabia   8.82